.cards {
  padding: 0;
  margin: 2rem 0;
}

.cards > div {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
}

.cards.four > div {
  justify-content: left;
}

.cards > div:last-of-type {
  justify-content: left;
}

.cards a:any-link {
  color: currentcolor;
  font-size: var(--type-heading-m-size);
  line-height: var(--type-heading-m-lh);
  text-decoration: none;
  display: block;
  position: relative;
}

.cards a:any-link::after {
  content: "❯";
  position: absolute;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.cards.alternate a:any-link::after {
  content: "";
  position: absolute;
  top: -2rem;
  right: -1rem;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transition: border-width 0.1s ease-in-out;
}

.cards.earlyaccess a:any-link::after {
  border-right-color: #e6118a;
}

.cards.deprecated a:any-link::after {
  border-right-color: #d31510;
}

.cards.removed a:any-link::after {
  border-right-color: #6a6969;
}

.cards a:hover:any-link::after {
  color: var(--spectrum-blue);
  transform: translateX(3px);
}

.cards .cards-card {
  width: 100%;
  box-sizing: border-box;
  margin: 0.5rem;
  background: var(--bg-color-lightgrey);
  min-height: 160px;
  opacity: 0;
  transform: translate(0, 50px);
  transition: transform 0.5s ease-out, opacity 1s;
  position: relative;
}

.cards .cards-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  transition: opacity 0.3s ease-in-out;
}

.cards .cards-card.enter {
  opacity: 1;
  transform: translate(0, 0);
}

.cards .cards-card.enter:hover {
  transform: scale(calc(100% + 1rem), calc(100% + 1rem)) translate(0, 0);
}

.cards.alternate .cards-card.enter:hover a:any-link::after{
  border-left-width: 35px;
  border-right-width: 35px;
  border-bottom-width: 35px;
  transform: none;
}


/* Fade in the pseudo-element with the bigger shadow */
.cards .cards-card:hover::after {
  opacity: 1;
}

.section.dark .cards .cards-card {
  background-color: #555;
}

.section.light .cards .cards-card {
  background-color: #ddd;
}

.cards .cards-card-highlight {
  background: var(--highlight-gradient);
}

.cards .cards-card-details {
  padding: 1rem 1rem 1.5rem;
}

.cards .cards-card-details p:last-of-type {
  margin-bottom: 0;
}

.cards .block-party-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (width >= 1024px) {
  .cards.three .cards-card {
    width: calc(33% - 1rem);
  }

  .cards.four .cards-card {
    width: calc(25% - 1rem);
  }
}
