.qualform h2 {
  margin-top: 50px;
}

.qualform textarea {
  min-height: 100px;
}

.qualform button {
  width: 150px;
}

.qualform .submit {
  display: flex;
  justify-content: flex-end;
}

label {
  display: block;
}

.form-group {
    margin-bottom: 15px;
}

.required {
  color: red;
}