main .form-container {
  background-color: white;
  padding: var(--spacing-m);
  box-shadow: 0px 1px 6px rgb(34 34 34 / 10%);
}

main .form-container h2 {
  padding: var(--spacing-m) 0px;
  font-size: var(--type-heading-l-lh);
  font-weight: normal;
}

main .form-container h3 {
  padding-top: var(--spacing-m);
  font-size: var(--type-heading-m-size);
  font-weight: bold;
  text-transform: uppercase;
}

main .form-container input,
main .form-container textarea,
main .form-container select {
  border: 1px solid rgb(193,193,195);
  padding: 11px;
  border-radius: 0;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  margin-top: 4px;
}

main .form-container textarea {
  min-height: 100px;
}

main .form-container input:hover,
main .form-container select:hover {
  border-color: rgb(90,92,96);
}

main .form-container label {
  width: 100%;
  display: block;
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
  padding-bottom: var(--spacing-xs);
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 800;
}

main .form-container label.required::after {
  content: "*";
  color: red;
  padding-left: 5px;
}

main .form-container .field-wrapper {
  margin-bottom: 20px;
}

main .form-container .form-checkbox-wrapper {
  display: flex;
  margin: var(--spacing-s) 0;
}

main .form-container .form-checkbox-wrapper input[type='checkbox'] {
  display: none;
}

main .form-container .form-checkbox-wrapper input[type='checkbox'] + label:before {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  content: ' ';
  background: url('./checkbox.svg');
  background-size: contain;
}

main .form-container .form-checkbox-wrapper input[type='checkbox']:checked +label:before {
  background: url('./checkbox-checked.svg');
  background-size: contain;
  content: ' ';
}

main .form-container .form-checkbox-wrapper label {
  font-size: var(--type-body-m-size);
  font-weight: normal;
  text-transform: none;
  display: block;
}

main .form-container .button {
  cursor: pointer;
  background: rgb(20, 115, 230);
  color: white;
  border-radius: 16px;
  font-size: var(--type-body-s-size);
  font-weight: 300;
  padding: 6px 16px;
  border: none;
  font-family: 'adobe-clean', 'Trebuchet MS', sans-serif;
}

main .form-container .form-submit-wrapper {
  display: flex;
  justify-content: flex-end;
}