@import url("https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.1/codemirror.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.1/theme/base16-dark.css");

:host,
:root {
  --hlx-importer-bg: #e0e0e0;
  --hlx-importer-color: #505050;
  --hlx-importer-border: none;
  --hlx-importer-border-radius: 10px;
  --hlx-importer-font-family: arial, helvetica, sans-serif;
  --hlx-importer-font-size: 16px;
  --hlx-importer-line-height: 1;
  --hlx-importer-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  --hlx-importer-button-color: #707070;
  --hlx-importer-button-bg: transparent;
  --hlx-importer-button-border: solid 1px var(--hlx-importer-button-color);
  --hlx-importer-button-font-size: 16px;
  --hlx-importer-button-font-weight: 500;
  --hlx-importer-button-padding: 5px 8px;
  --hlx-importer-button-hover-bg: #707070;
  --hlx-importer-button-hover-border: #707070;
  --hlx-importer-button-hover-color: white;
  --hlx-importer-button-pressed-bg: #c0c0c0;
  --hlx-importer-button-pressed-color: #505050;
  --hlx-importer-button-border-radius: 6px;
  --hlx-importer-button-disabled-color: #909090;
  --hlx-importer-button-disabled-border: solid 1px var(--hlx-importer-button-disabled-color);
  --hlx-importer-button-disabled-hover-bg: transparent;
  --hlx-importer-modal-overlay-bg: rgba(0,0,0, 0.5);
  --hlx-importer-modal-bg-0: #e60016;
  --hlx-importer-modal-bg-1: #e67316;
  --hlx-importer-modal-color: white;
  --hlx-importer-modal-font-size: 20px;
  --hlx-importer-special-view-button-color: rgba(0,0,0, 0.5);
  --hlx-importer-special-view-table-border: rgba(0,0,0, 0.5);
  --wait-animation: hlx-importer-heartbeat 2s ease-in-out infinite both;
}

@media (prefers-color-scheme: dark) {
  :host,
  :root {
    --hlx-importer-bg: #303030;
    --hlx-importer-color: #dedede;
    --hlx-importer-button-color: #dedede;
    --hlx-importer-button-hover-bg: #909090;
    --hlx-importer-button-hover-border: var(--hlx-importer-color);
    --hlx-importer-button-hover-color: #303030;
    --hlx-importer-button-pressed-bg: #505050;
    --hlx-importer-button-pressed-color: white;
    --hlx-importer-button-disabled-color: #707070;
    --hlx-importer-button-disabled-border: solid 1px var(--hlx-importer-button-disabled-color);
    --hlx-importer-modal-overlay-bg: rgba(127, 127, 127, 0.8);
    --hlx-importer-special-view-button-color: rgba(127, 127, 127, 0.8);
    --hlx-importer-special-view-table-border: rgba(127, 127, 127, 0.8);
  }
}

.hlx-importer {
  z-index: 9999999;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--hlx-importer-bg);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 216 216'><defs><style>.cls-1{fill:%23f15a3a;}.cls-2{fill:%23c71f3d;}.cls-3{fill:%23ffc40c;}</style></defs><circle class='cls-1' cx='22.5' cy='108' r='22.5'/><circle class='cls-1' cx='193.5' cy='108' r='22.5'/><circle class='cls-2' cx='63' cy='27' r='27'/><circle class='cls-3' cx='162' cy='27' r='18'/><circle class='cls-2' cx='162' cy='189' r='27'/><circle class='cls-3' cx='63' cy='189' r='18'/></svg>");
  background-repeat: no-repeat;
  background-position: 10px 14px;
  background-size: 22px;
  color: var(--hlx-importer-color);
  bottom: 0;
  left: 0;
  width: 100vw;
  min-height: 500px;
  box-sizing: border-box;
  padding: 0 72px 0 42px;
  font-family: var(--hlx-importer-font-family);
  font-size: var(--hlx-importer-font-size);
  box-shadow: var(--hlx-importer-shadow);
}

.hlx-importer-hidden {
  display: none;
}

.hlx-importer .wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hlx-importer .wrapper > * {
  flex-grow: 1;
  width: 100%;
}

.hlx-importer .left,
.hlx-importer .right { 
  width: 50%; 
}

.hlx-importer .left {
  order: 1;
}

.hlx-importer .right {
  order: 1;
}

.hlx-importer .code {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
  margin: 2px;
}

.hlx-importer .menu {
  float: right;
}

.hlx-importer button {
  background-color: transparent;
  border: var(--hlx-importer-button-border);
  border-radius: var(--hlx-importer-button-border-radius);
  color: var(--hlx-importer-button-color);
  font-size: var(--hlx-importer-button-font-size);
  line-height: var(--hlx-importer-button-line-height);
  font-family: var(--hlx-importer-font-family);
  font-weight: var(--hlx-importer-button-font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: var(--hlx-importer-button-padding);
  cursor: pointer;
  outline: none;
  min-width: 28px;
  min-height: 28px;
  max-height: 28px;
  margin: 2px 8px 0 0;
}

.hlx-importer button:hover,
.hlx-importer button:focus,
.hlx-importer button:hover,
.hlx-importer button:focus {
  background-color: var(--hlx-importer-button-hover-bg);
  border-color: var(--hlx-importer-button-hover-border);
  color: var(--hlx-importer-button-hover-color);
}

.hlx-importer button.pressed {
  background-color: var(--hlx-importer-button-pressed-bg);
  color: var(--hlx-importer-button-pressed-color);
}

.hlx-importer button:disabled {
  color: var(--hlx-importer-button-disabled-color);
  border: var(--hlx-importer-button-disabled-border);
}

.hlx-importer button:disabled:hover {
  background-color: var(--hlx-importer-button-disabled-hover-bg);
}

.hlx-importer #markdownPreview {
  flex: 1 1 auto;
  margin-top: 0;
  height: 440px;
  width: 100%;
  position: relative;
  margin-left: 5px;
  overflow: scroll;
  overflow-x: hidden;

  background-color: white;
  color: black;

  padding-right: 4px;
}

.hlx-importer #markdownPreview img {
  max-width: 100%;
}
.hlx-importer #markdownPreview table,
.hlx-importer #markdownPreview th,
.hlx-importer #markdownPreview td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  max-width: 100%;
}
.hlx-importer #markdownPreview table {
  margin: 40px 2px;
  width: 100%;
}

.hlx-importer #markdownPreview th {
  background-color: lightblue;
}

.hlx-importer .hidden {
  display: none;
}

.hlx-importer h2 {
  margin: 10px 4px;
}

.hlx-importer .CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}