.marquee {
    position: relative;
    padding: var(--spacing-l) 0;
    background: rgb(192 11 0);
    background: linear-gradient(66deg, rgb(192 11 0 / 100%) 0%, rgb(252 14 1 / 100%) 100%);
}

.marquee > div:last-of-type {
    position: relative;
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
}

.marquee > div:last-of-type > div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.marquee > div:last-of-type > div:first-of-type > * {
    width: 100%;
}

.marquee > div:last-of-type > div:first-of-type p:first-of-type {
    font-size: var(--type-detail-m-size);
    text-transform: var(--type-detail-m-transform);
    line-height: var(--type-detail-m-lh);
    font-weight: var(--type-detail-all-weight);
    margin: 0 0 var(--spacing-s) 0;
}

.marquee > div:last-of-type > div:first-of-type h1 {
    font-size: var(--type-heading-xl-size);
    line-height: var(--type-heading-xl-lh);
    font-weight: var(--type-heading-all-weight);
    margin: 0 0 var(--spacing-s) 0;
}

.marquee > div:last-of-type > div:first-of-type h1 + p {
    font-size: var(--type-body-m-size);
    line-height: var(--type-body-m-lh);
    margin: 0 0 var(--spacing-m) 0;
}

.marquee > div:last-of-type > div:first-of-type h1 + p + p {
    margin: 0;
}

.marquee > div:last-of-type img {
    min-height: 161px;
    display: inline-block;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.marquee > div:last-of-type > div:last-of-type {
    text-align: right;
    margin-top: var(--spacing-l);
}

.marquee > div:last-of-type div {
    flex: 1 1 auto;
}

@media screen and (min-width: 1200px) {
    .marquee > div:last-of-type {
        min-height: 360px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .marquee > div:last-of-type > div:first-of-type,
    .marquee > div:last-of-type > div:last-of-type {
        flex: 0 1 auto;
    }

    .marquee > div:last-of-type > div:first-of-type {
        width: 40%;
    }

    .marquee > div:last-of-type > div:last-of-type {
        width: 50%;
        margin-top: 0;
    }
  }

@media screen and (min-width: 1440px) {
    .marquee > div:last-of-type {
        max-width: var(--grid-desktop-container-width);
    }
}

