.marquee {
    position: relative;
    padding: var(--spacing-l) 0 var(--spacing-l) 0;
}

.marquee .background img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.marquee .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.marquee .container {
    position: relative;
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
}

.marquee .container .text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.marquee .container .text > * {
    width: 100%;
}

.marquee .container .text p:first-of-type {
    font-size: var(--type-detail-m-size);
    text-transform: var(--type-detail-m-transform);
    line-height: var(--type-detail-m-lh);
    font-weight: var(--type-detail-all-weight);
    margin: 0 0 var(--spacing-s) 0;
}

.marquee .container .text h1 {
    font-size: var(--type-heading-xl-size);
    line-height: var(--type-heading-xl-lh);
    font-weight: var(--type-heading-all-weight);
    margin: 0 0 var(--spacing-s) 0;
}

.marquee .container .text h1 + p {
    font-size: var(--type-body-m-size);
    line-height: var(--type-body-m-lh);
    margin: 0 0 var(--spacing-m) 0;
}

.marquee .container .text h1 + p + p {
    margin: 0;
}

.marquee .container .image {
    text-align: right;
}

.marquee .container div {
    flex: 1 1 auto;
}

.marquee .container img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .marquee .container {
        min-height: 360px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .marquee .container .text,
    .marquee .container .image {
        flex: 0 1 auto;
    }

    .marquee .container .text {
        width: 40%;
    }

    .marquee .container .image {
        width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    .marquee .container {
        max-width: var(--grid-desktop-container-width);
    }
}
