.logo-wall {
    position: relative;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-l) var(--spacing-s);
}

.logo-wall .logo-wall-title {
    max-width: 75vw;
    font-size: clamp(36px, 4.5vw, 48px);
    font-weight: 500;
    text-align: center;
    padding-bottom: var(--spacing-s);
}

.logo-wall .logo-wall-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--spacing-s);
    row-gap: var(--spacing-s);
    width: 100%;
    max-width: 740px;
    padding-inline-start: 0;
}

.logo-wall .logo-wall-list-item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
}

.logo-wall .logo-wall-list-item a {
    transition: opacity .3s ease;
}

.logo-wall .logo-wall-list-item a:hover {
    opacity: 0.7;
}

.logo-wall .logo-wall-list-item img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 70px;
    object-fit: contain;
}

@media (min-width: 900px) {
    .logo-wall {
        padding: var(--spacing-xl);
    }

    .logo-wall .logo-wall-title {
        padding-bottom: var(--spacing-xl);
    }

    .logo-wall .logo-wall-list {
        column-gap: var(--spacing-xl);
        row-gap: var(--spacing-l);
        max-width: 1200px;
    }

    .logo-wall .logo-wall-list-item img {
        max-width: clamp(180px, 20vw, 280px);
        max-height: 70px;
    }
}