.feed {
  text-align: left;
}

.feed.blog h1 {
  font-size: var(--type-heading-xl-size);
  line-height: var(--type-heading-xl-lh);
  font-weight: 700;
  letter-spacing: -0.04em;
}

.feed-container.blog .default-content-wrapper h1 {
  text-align: center;
  margin-top: 20px;
}

.feed-hidden {
  display: none;
}

.feed.blog .blog-link {
  text-decoration: none;
  color: inherit;
}

.right-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-item:not(.blog-item.latest) {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transition: box-shadow 0.3s ease;
  padding: 20px;
  background-color: white;
}

.feed.blog h2 {
  font-size: var(--type-heading-l-size);
  line-height: var(--type-heading-l-lh);
  font-weight: 700;
  letter-spacing: -0.04em;
}

.feed.blog .favorite-blogs {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transition: box-shadow 0.3s ease;
  padding: 20px;
  background-color: var(--color-accent-purple-content);
}

.feed.blog .favorite-blogs h2 {
  font-size: var(--type-heading-m-size);
}

.feed.blog .favorite-blogs a {
  text-decoration: none;
}

.feed.blog .favorite-blogs a:hover {
  text-decoration: underline;
}

.blog-item.latest .image-wrapper {
  width: 100%;
}

.blog-item:not(.blog-item.latest):hover {
  box-shadow: 0 8px 16px rgb(0 0 0 / 40%);
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-container .blog-item.latest:not(.read-more) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-container .read-more {
  align-self: center;
  display: inline-block;
}

.feed.recent .feed-item {
  margin: 10px;
}

.feed.recent .feed-item img,
.blog-container .right-container .blog-item img {
  max-width: 100%;
  filter: var(--image-filter-drop-shadow-small);
  width: 100%;
  aspect-ratio: 5 / 4;
  object-fit: contain;
}

.blog-container .right-container .blog-item img {
  display: none;
}

.feed.recent > div,
.feed.blog > div {
  margin-bottom: var(--spacing-s);
  padding: var(--spacing-ml) 0;
  padding-top: 40px;
  gap: var(--spacing-s);
}

.feed.recent > div > div {
  margin: 0 auto;
  padding: var(--spacing-s) 0;
  display: grid;
  grid-template-columns: 1fr;
}

.feed.recent > div > div > div {
  padding: var(--spacing-xl) var(--spacing-ml) var(--spacing-m);
  background: var(--bg-color-lightgrey);
  border-radius: var(--card-border-radius-l);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.feed.recent .feed-item .image-wrapper-el {
  margin-top: auto;
  padding-top: var(--spacing-s);
}

.feed.blog .blog-item .image-wrapper {
  margin-top: 0;
  padding-top: 0;
}

.feed.recent h3,
.feed.blog h3 {
  margin-bottom: var(--spacing-xs);
  font-size: var(--type-heading-xl-size);
  line-height: var(--type-heading-xl-lh);
  font-weight: 700;
  letter-spacing: -0.04em;
}

.feed.recent p,
.feed.blog p {
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
}

.feed.recent .desc,
.feed.blog .desc {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (width >= 768px) {
  .feed.recent .feed-item {
    margin: unset;
  }

  .feed.recent > div > div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--spacing-xs);
  }

  .feed.recent > div > div > div {
    padding: var(--spacing-xl) var(--spacing-s) var(--spacing-m);
    text-align: left;
  }

  .feed.recent h3,
  .feed.blog h3 {
    font-size: var(--type-heading-s-size);
    line-height: var(--type-heading-s-lh);
  }

  .feed.recent p,
  .feed.blog p {
    font-size: var(--type-body-xs-size);
    line-height: var(--type-body-xs-lh);
    margin-bottom: 1em;
  }

  .blog-container {
    display: flex;
    gap: 20px;
  }

  .left-container {
    flex: 0 0 70%; /* 70% width */
  }

  .right-container {
    flex: 0 0 30%; /* 30% width */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 0;
  }
}

@media screen and (width >= 900px) {
  .feed.recent > div {
    margin-bottom: 0;
    flex-direction: column;
    max-width: var(--grid-desktop-container-width);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--spacing-m);
    padding: var(--spacing-xs) 0;
  }

  .feed.blog > div {
    padding-top: unset;
  }

  .feed-container.blog .default-content-wrapper {
    margin-top: 0;
  }

  .feed.blog h1 {
    margin-top: 0;
  }

  .feed-container.blog .default-content-wrapper h1 {
    margin-top: 0;
  }

  .feed.recent h3,
  .feed.blog h3 {
    margin-bottom: var(--spacing-s);
    font-size: var(--type-heading-m-size);
    line-height: var(--type-heading-m-lh);
  }

  .feed.recent .image-wrapper-el,
  .feed.blog .image-wrapper {
    padding-top: var(--spacing-l);
    margin-bottom: 0;
  }

  .feed.recent > div > div {
    grid-gap: 32px;
  }

  .feed.recent > div > div > div {
    padding: var(--spacing-xl) var(--spacing-m);
    margin-bottom: var(--spacing-s);
  }

  /* force image to stick to bottom */
  .feed.recent > p {
    flex: 1;
    font-size: var(--type-body-m-size);
    line-height: var(--type-body-s-lh);
  }
}

@media screen and (width >= 1200px) {
  .feed.recent h3,
  .feed.blog h3 {
    font-size: var(--type-heading-l-size);
    line-height: var(--type-heading-l-lh);
  }

  .feed.recent > div > div > div {
    padding: var(--spacing-xxl) var(--spacing-xl);
  }

  .feed.recent p,
  .feed.blog p {
    font-size: var(--type-body-s-size);
    line-height: var(--type-body-s-lh);
    margin-bottom: 1em;
  }
}
