.columns {
    text-align: left;
}

.columns.bleed > div {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.columns.bleed div.columns-content {
    padding: 2rem;
    flex: 1 1 400px;
}

.columns.bleed div.columns-image {
    flex: 1 1 400px;
    overflow: hidden;
}

.columns.contained img,
.columns.contained:not(.icon-sm) svg {
    display: inline-block;
}

.columns.contained.icon-sm svg {
    display: inline-block;
}

.columns.bleed div.columns-image img {
    object-fit: cover;
    height: 100vw;
    width: 100%;
    object-position: left;
    opacity: 0;
    transform: translate(50px, 0);
    transition: transform 0.5s ease-out, opacity 1s;
}

.columns.bleed div.columns-image.columns-left img {
    object-position: right;
    transform: translate(-50px, 0);
}

.columns.bleed div.columns-image img.enter {
    opacity: 1;
    transform: translate(0, 0);
}

.columns-wrapper {
    margin: var(--spacing-xl) 0;
}

@media (min-width: 900px) {
    .columns.bleed > div {
        flex-direction: unset;
        margin: auto;
        align-items: center;
    }
    
    .columns.bleed div.columns-image img {
        object-fit: cover;
        height: 50vw;
        max-height: 600px;
        width: 100%;
        object-position: left;
    }

    .columns.bleed div.columns-content-wrapper {
        max-width: 500px;
        float: right;
    }

    .columns.bleed div.columns-right div.columns-content-wrapper {
        max-width: 500px;
        float: unset;
    }

}


.columns.contained > div {
    margin: 0 auto;
    padding: var(--spacing-s);
    display: grid;
    grid-template-columns: 1fr;
}

.columns.contained > div > div {
    margin-bottom: var(--spacing-l);
}

.columns.three.contained > div {
    padding: var(--spacing-xxl) var(--spacing-s);
    max-width: 83.4%;
}

.columns.lazy-river > div:nth-of-type(even) {
    flex-direction: column-reverse;
}

.columns.contained > div > div:last-of-type {
    margin-bottom: 0;
}

.columns.three.contained:not(.tall) > div {
    text-align: center;
}

.columns.contained > div > div > p:first-of-type {
    margin: 0;
}

.columns.tall .columns-image .image-wrapper-el {
    margin-top: auto;
    padding-top: var(--spacing-l);
}

.columns.tall > div > div {
    padding: var(--spacing-l) var(--spacing-m);
    background: var(--bg-color-lightgrey);
    border-radius: var(--card-border-radius-l);
}

.columns.tall h3 {
    margin-bottom: var(--spacing-s);
    font-size: var(--type-heading-xl-size);
    line-height: var(--type-heading-xl-lh);
    font-weight: 700;
    letter-spacing: -0.04em;
}

.columns.tall p {
    font-size: var(--type-body-s-size);
    line-height: var(--type-body-s-lh);
}

.columns.text-sm p {
    font-size: var(--type-body-xs-size);
    line-height: var(--type-body-xxs-lh);
}

.columns.tall .colored-tag.number-tag {
    color: var(--color-black);
}

.columns.center .columns-content-wrapper {
    text-align: center;
}

.columns.center .columns-content-wrapper .icon {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 500px) {
    .columns.four.contained > div {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
}

@media screen and (min-width: 900px) {
    .columns.contained > div > div {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }

    .columns.lazy-river > div:nth-of-type(even) {
        flex-direction: unset;
    }

    .columns.two.contained > div {
        max-width: var(--grid-desktop-container-width);
        grid-template-columns: 50% 50%;
        grid-gap: var(--spacing-xxl);
    }

    .columns.three.contained > div {
        max-width: var(--grid-desktop-container-width);
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: var(--spacing-xxl);
    }

    .columns.four.contained > div {
        max-width: var(--grid-desktop-container-width);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: var(--spacing-s);
    }

    .columns.tall.contained > div {
        grid-gap: 32px;
    }

    .columns.tall > div > div {
        padding: var(--spacing-xxl) var(--spacing-l);
    }
}
