.columns {
    text-align: left;
}

.columns.bleed > div {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.columns.bleed div.columns-content {
    padding: 2rem;
    flex: 1 1 400px;
}

.columns.bleed div.columns-image {
    flex: 1 1 400px;
}

.columns.bleed div.columns-image img {
    object-fit: cover;
    height: 100vw;
    width: 100%;
    object-position: left;
    opacity: 0;
    transform: translate(50px, 0);
    transition: transform 0.5s ease-out, opacity 1s;
}

.columns.bleed div.columns-image.columns-left img {
    object-position: right;
    transform: translate(-50px, 0);
}

.columns.bleed div.columns-image img.enter {
    opacity: 1;
    transform: translate(0, 0);
}

.columns.bleed div.columns-image {
    overflow: hidden;
}



@media (min-width: 900px) {
    .columns.bleed > div {
        flex-direction: unset;
        margin: auto;    
        align-items: center;
    }    
    .columns.bleed div.columns-image img {
        object-fit: cover;
        height: 50vw;
        max-height: 600px;
        width: 100%;
        object-position: left;
    }

    .columns.bleed div.columns-content-wrapper {
        max-width: 500px;
        float: right;
    }

    .columns.bleed div.columns-right div.columns-content-wrapper {
        max-width: 500px;
        float: unset;
    }
    
}


.columns.contained > div {
    margin: 0 auto;
    padding: var(--spacing-m);
    display: grid;
    grid-template-columns: 1fr;
}

.columns.three.contained > div {
    padding: var(--spacing-xxl) var(--spacing-m);
    max-width: 83.4%;
    text-align: center;
}

.columns.contained > div > div {
    margin-bottom: var(--spacing-l);
}

.columns.contained > div > div:last-of-type {
    margin-bottom: 0;
}

.columns.contained > div > div > p:first-of-type {
    margin: 0;
}

.columns.contained img {
    height: 200px;
    display: inline-block;
}

@media screen and (min-width: 900px) {
    .columns.contained > div > div {
        margin-bottom: 0;
    }

    .columns.two.contained > div {
        max-width: var(--grid-desktop-container-width);
        grid-template-columns: 50% 50%;
        grid-gap: var(--spacing-xxl);
    }

    .columns.three.contained > div {
        max-width: var(--grid-desktop-container-width);
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: var(--spacing-xxl);
    }
}