.side-navigation-wrapper {
  width: 100%;
  max-width: var( --grid-desktop-container-width);
  display: block;
  padding: 24px;

}

.side-navigation-wrapper.expand + .section.content {
  display: none;
}

.side-navigation {
  width: 300px;
  border-radius: 16px;
  padding: 24px;
  font-size: var(--type-body-s-size);
  box-sizing: border-box;

  /* Temp color */
  background: #f8f8f8; 
  border: solid 1px lightgray;
  display: none;
}

.side-navigation.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: calc(100% - 48px);
  height: 100%;
  overflow: scroll;
  display: block;
}

.side-navigation.overlay .search-input-wrapper {
  display: none;
}

.side-navigation-wrapper input[type="text"] {
  width: 100%;
  border: solid 1px lightgray;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
}

.side-nav-search-highlight {
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.side-nav-search-highlight::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -4px;
  right: -4px;
  background-color: rgb(252 0 255 / 30%);
  border-radius: 4px;
}

.side-navigation ul {
  list-style: none;
  padding-left: 0;
}

.side-navigation .list-section {
  margin-bottom: var(--spacing-m);
}

.side-navigation .list-section .heading {
  text-decoration: none;
  color: red;
}

.side-navigation .list-section .list-section-inner {
  color: initial;
}

.side-navigation .list-section .list-section-inner li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.side-navigation .list-section .list-section-inner-nested {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.side-navigation .list-section .list-section-inner li span {
  display: flex;
}

.side-navigation .list-section .list-section-inner li a {
  text-decoration: none;
}

.side-navigation .list-section .list-section-inner li a.active {
  display: block;
  width: 100%;
  border-radius: 4px;
  color: black;
  padding: 0 6px;

  /* Temp color */
  background: #d1e5f5;
}

.side-navigation .list-section .side-navigation-nested-target:not(.collapse) .icon {
  transform: rotate(180deg);
}

.side-navigation .side-navigation-nested-target {
  position: relative;
}

.side-navigation .side-navigation-nested-target.collapse ul {
  display: none;
}

.side-navigation-overlay-btn-wrapper {
  text-align: left;
  margin-top: 24px;
}

.side-navigation-overlay-btn-wrapper button {
  appearance: none;
  border: solid 1px black;
  background-color: white;;
  border-radius: 6px;
  padding: 8px 16px;
}

@media screen and (min-width: 900px) {
  .side-navigation-wrapper {
    width: 300px;
    padding: 0;
  }

  .side-navigation-wrapper.expand {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .side-navigation-wrapper > .search-input-wrapper {
    display: none;
  }

  .side-navigation-overlay-btn-wrapper {
    display: none;
  }

  .side-navigation {
    display: block;
  }

  .results-wrapper {
    width: calc(100% - 300px); 
  }
}

.results-wrapper {
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  margin: 0;
  padding: 24px;
  display: none;
  box-sizing: border-box;
}

.results-wrapper.open {
  display: grid;
}

.results-wrapper .article-card {
  text-decoration: none;
  color: black;
  text-align: left;
  box-sizing: border-box;
}

.results-wrapper .article-card .article-card-body p {
  font-size: var(--type-body-s-size);
}

.results-wrapper .article-card-image {
  height: 187px;
}

.results-wrapper .article-card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}