/* form */
.mp4-doctor form {
  position: relative;
}

.mp4-doctor form input[name='upload'] {
  display: block;
  cursor: pointer;
  position: absolute;
  inset: 0;
  opacity: 0;
}

.mp4-doctor form input[name='upload']:disabled,
.mp4-doctor form label[for='upload'][aria-hidden=true] {
  display: none;
  visibility: hidden;
}

.mp4-doctor form label p {
  color: inherit;
  font-size: var(--type-body-l-size);
  text-align: center;
}

.mp4-doctor form label span + p {
  margin-top: .5em;
}

/* viewbox */
.mp4-doctor .viewbox {
  --color-checkerboard-bg-fill: #fefefe;
  --color-checkerboard-bg-border: rgb(214 213 213 / 40%);
  --checkerboard-background: linear-gradient(
      var(--color-checkerboard-bg-border) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      var(--color-checkerboard-bg-border) 1px,
      transparent 1px
    ),
    linear-gradient(
      45deg,
      var(--color-checkerboard-bg-fill) 50%,
      var(--color-checkerboard-bg-fill) 51%
    );

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16 / 9;
  outline: 2px solid transparent;
  border: 1px solid var(--color-checkerboard-bg-border);
  padding: 1rem;
  background-image: var(--checkerboard-background);
  background-size: var(--checkerboard-background-size);
  background-position: center;
}


.mp4-doctor .viewbox[data-status='upload'] {
  transition: background-color .3s, outline .3s;
}

.mp4-doctor .viewbox[data-status='upload'].hover,
.mp4-doctor .viewbox[data-status='upload']:hover {
  --color-checkerboard-bg-fill: var(--bg-color-lightgrey);

  outline: 2px solid var(--spectrum-blue);
}

.mp4-doctor .viewbox[data-status='upload'][data-mode='dark'].hover,
.mp4-doctor .viewbox[data-status='upload'][data-mode='dark']:hover {
  --color-checkerboard-bg-fill: #070707;
}

.mp4-doctor .viewbox svg {
  width: 100%;
  height: auto;
  max-height: calc(100vw - 3rem);
}

@media (min-width: 900px) {
  .mp4-doctor .viewbox {
    height: 860px;
  }

  .mp4-doctor .viewbox svg {
    max-height: calc(860px - 3rem);
  }
}

/* controls */
.mp4-doctor .controls {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  min-height: 55px;
  gap: .5rem;
  border-radius: 0 0 var(--card-border-radius-l) var(--card-border-radius-l);
  padding: .5rem var(--card-border-radius-l);
  background-color: var(--bg-color-grey);
}

.mp4-doctor .controls[aria-hidden] {
  display: none;
  visibility: hidden;
}

@keyframes progress {
  from { background-position: 4rem 0; };
  to { background-position: 0 0; };
}

.mp4-doctor .controls .progress {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--dark-spectrum-blue);
  border-radius: 0 0 0 var(--card-border-radius-l);
  background-image: linear-gradient(45deg,
    #fff2 25%,
    transparent 25%,
    transparent 50%,
    #fff2 50%,
    #fff2 75%,
    transparent 75%,
    transparent);
  background-size: 4rem 4rem;
  animation: progress 3s linear infinite;
  transition: width 3s linear;
}


/* controls buttons */
.mp4-doctor .controls-buttons,
.mp4-doctor .controls-buttons > div {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  max-width: 100%;
}

.mp4-doctor .controls-buttons .form {
  margin: 0;
}

.mp4-doctor .controls-buttons > div::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: var(--bg-color-grey-2);
}

.mp4-doctor .controls-buttons button {
  font-family: var(--body-font-family);
}

.mp4-doctor .controls-buttons button[role] {
  position: relative;
  border: 0;
  border-radius: var(--input-border-radius);
  padding: .2rem .5rem;
  background-color: transparent;
  font-size: var(--type-detail-m-size);
  cursor: pointer;
  transition: background-color .3s;
}

.mp4-doctor .controls-buttons button[role]:hover,
.mp4-doctor .controls-buttons button[role]:focus {
  background-color: var(--bg-color-grey-2);
}

.mp4-doctor .controls-buttons button[role]:hover::after {
  content: attr(aria-label);
  position: absolute;
  top: calc(100% + .2rem);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: .2rem .5rem;
  border: 1px solid var(--bg-color-lightgrey);
  border-radius: var(--input-border-radius);
  background-color: #070707;
  color: var(--bg-color-lightgrey);
  z-index: 1;
}

/* preview */
.mp4-doctor .viewbox .preview {
  width: 100%;
  min-height: 0;
  color: black;
  transition: min-height .3s;
}

.mp4-doctor .viewbox .preview img,
.mp4-doctor .viewbox .preview video {
  width: 100%;
}

.mp4-doctor .viewbox .preview img[aria-hidden="true"] {
  visibility: hidden;
}

/* icons/glyphs */
.mp4-doctor .glyph,
.mp4-doctor .glyph::before,
.mp4-doctor .glyph::after {
  box-sizing: border-box;
  display: block;
  position: relative;
}

.mp4-doctor .glyph::before,
.mp4-doctor .glyph::after {
  content: '';
  position: absolute;
}

.mp4-doctor .glyph-upload {
  width: 20px;
  height: 10px;
  margin: auto;
  margin-top: 12px;
  border: 2px solid;
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.mp4-doctor .glyph-upload::after {
  left: 3px;
  bottom: 7px;
  width: 10px;
  height: 10px;
  border-left: 2px solid;
  border-top: 2px solid;
  transform: rotate(45deg);
}

.mp4-doctor .glyph-upload::before {
  left: 7px;
  bottom: 5px;
  width: 2px;
  height: 12px;
  background: currentcolor;
}

.mp4-doctor .glyph-dashboard {
  background:
      linear-gradient(to left,
          currentcolor 8px,transparent 0)
          no-repeat center/2px 6px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px
}

.mp4-doctor .glyph-dashboard::after,
.mp4-doctor .glyph-dashboard::before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid
}

.mp4-doctor .glyph-dashboard::before {
  bottom: 2px;
  width: 2px;
  height: 2px;
  box-sizing: content-box;
  border-radius: 100px;
  left: 6px
}

.mp4-doctor .glyph-dashboard::after {
  box-sizing: border-box;
  border-radius: 3px;
  width: 14px;
  height: 8px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom: 0;
  top: 2px;
  left: 2px
}

.mp4-doctor .glyph-image {
  width: 24px;
  height: 16px;
  margin: 4px 0;
  overflow: hidden;
  box-shadow: 0 0 0 2px;
  border-radius: 2px;
}

.mp4-doctor .glyph-image::after,
.mp4-doctor .glyph-image::before {
  border: 2px solid;
}

.mp4-doctor .glyph-image::after {
  top: 9px;
  left: 9px;
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  border-radius: 3px;
}

.mp4-doctor .glyph-image::before {
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

.mp4-doctor .glyph-reset {
  width: 24px;
  height: 24px;
  border: 2px solid;
  border-right-color: transparent;
  border-radius: 50%;
  transform: rotate(15deg);
}

.mp4-doctor .glyph-reset::before {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  top: -3px;
  right: 0;
  transform: rotate(90deg);
}
