.form-field.picker-field {
  position: relative;
  display: block;
}

.form-field.picker-field input {
  width: 100%;
  font: inherit;
  border-color: var(--gray-100);
  border: 2px solid var(--gray-300);
  padding: 0.4em 0.85em;
  background-color: var(--gray-100);
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
  border-radius: 4px;
  min-width: 200px;
}

@media (width >= 900px) {
  .timeframe-wrapper {
    grid-area: timeframe;
  }
  
  @media (width >= 900px) {
      .log-viewer form#timeframe-form > .timeframe-wrapper {
          grid-area: timeframe;
      }
  }
}

.timeframe-wrapper {
  display: grid;

  /* grid-template-columns: auto 1fr auto; */
  align-items: end;
  gap: var(--spacing-l);
}

.picker-field  ul.menu li:last-child {
  position: relative;
  margin-top: 16px;
}

.picker-field ul.menu li:last-child::before {
  content: '';
  position: absolute;
  top: calc((-0.5 * 16px) - (2px / 2));
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--gray-200);
}

.picker-field .datetime-wrapper {
  display: none;
  min-width: 500px;
  background-color: white;
}

.picker-field input[data-custom='true'] ~ .datetime-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 16px 12px;
  left: 0;
  right: 0;
  top: calc(100% + 8px);
  margin-top: 4px;
  border-radius: 4px;
  padding: calc(0.4em + 2px);
  background-color: white;
  box-shadow: var(--grey-700);
  z-index: 10;
}

.picker-field ul {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 8px);
  margin: 0;
  border-radius: 8px;
  padding: calc(0.4em + 2px);
  background-color: white;
  box-shadow: var(--grey-700);
  z-index: 20;
}

.picker-field ul.menu:not([hidden]) + .datetime-wrapper {
  display: none;
}

.picker-field input ~ .datetime-wrapper .form-field {
  margin-top: 0;
}

@media (width >= 740px) {
  .datetime-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .picker-field input[data-custom='true'] ~ .datetime-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width >= 900px) {
  .picker-field input[data-custom='true'] ~ .datetime-wrapper {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media (width >= 1200px) {
  .picker-field input[data-custom='true'] ~ .datetime-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: absolute;
  }
}

.picker-field .datetime-wrapper .datetime-field {
  display: block;
}

.picker-field .datetime-wrapper .datetime-field label {
  display: block;
  margin-bottom: 0.5em;
}

.form-field.picker-field input ~ ul li {
  padding: 0.4em 0;
  padding-left: 2rem;
  cursor: pointer;
}