.releases .releases-controls input[type="checkbox"] {
  pointer-events: none;
}

.releases .release-aem-certificate-rotation {
  background-color: var(--color-release-blue);
}

.releases .release-helix-admin {
  background-color: var(--color-release-pink);
}

.releases .release-helix-pipeline-service {
  background-color: var(--color-release-green);
}

.releases .release-helix-importer-ui {
  background-color: var(--color-release-gray);
}

.releases .release-aem-sidekick {
  background-color: var(--color-release-lime);
}

.releases .release-franklin-sidekick-library {
  background-color: var(--color-release-yellow);
}

.releases .release-helix-cli {
  background-color: var(--color-release-orange);
}

.releases .release-aem-lib {
  background-color: var(--color-release-cyan);
}

.releases .release-helix-config-service {
  background-color: var(--color-release-purple);
}

.releases .release-helix-reviews {
  background-color: var(--color-release-peach);
}

.releases .release {
  padding: 16px 32px 32px;
  margin: 16px 0;
  border-radius: 16px;
  display: none;
}

.releases .releases-controls {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.releases .releases-control {
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  }

.releases-date {
  font-weight: 700;
  margin-bottom: 0;
}

.releases .release h2 {
  margin-top: 0;
}

.releases .releases-results[aria-hidden="true"] {
  display: none;
}

.releases .helix-admin .release-helix-admin,
.releases .helix-pipeline-service .release-helix-pipeline-service,
.releases .helix-importer-ui .release-helix-importer-ui,
.releases .aem-sidekick .release-aem-sidekick,
.releases .helix-cli .release-helix-cli,
.releases .helix-config-service .release-helix-config-service,
.releases .aem-lib .release-aem-lib,
.releases .franklin-sidekick-library .release-franklin-sidekick-library,
.releases .aem-certificate-rotation .release-aem-certificate-rotation,
.releases .helix-reviews .release-helix-reviews {
  display: block;
}
