.releases .release-helix-admin {
    background-color: #FFD4F1;
}

.releases .release-helix-pipeline-service {
    background-color: #D1FFED;
}

.releases .release-helix-importer-ui {
    background-color: #E8E8E8;
}

.releases .release-helix-sidekick-extension {
    background-color: #E4E8BF;
}

.releases .release-helix-cli {
    background-color: #FFEBD4;
}

.releases .release {
    padding: 16px 32px 32px;
    margin: 16px 0;
    border-radius: 16px;
}

.releases-date {
    font-weight: 700;
    margin-bottom: 0;
}

.releases .release h2 {
    margin-top: 0;
}
