.pagination {
  max-width: 800px;
  margin: var(--spacing-xl) auto 0;
}

.pagination > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.pagination .column {
  background-color: var(--bg-color-lightgrey);
  border-radius: 16px;
  border: solid 1px var(--bg-color-grey);
  padding: 8px 16px;
}

.pagination .column.left p > span {
  margin-right: 8px;
}

.pagination .column.right p > span {
  margin-left: 8px;
}

.pagination .column.right p > span svg {
  transform: rotate(180deg);
}

.pagination .column p {
  font-size: var(--type-body-xs-size);
  margin: 0 0 var(--spacing-xs);
}

.pagination .column p:first-of-type {
  display: flex;
  align-items: center;
}

.pagination .column p:first-of-type span {
    display: flex;
}

.pagination .column p:last-of-type span {
  display: flex;
  margin-left: 8px;
}

.pagination .column h3 {
  margin: 0;
}

.pagination .column h3 a {
  font-size: var(--type-heading-m-size);
  color: black;
  text-decoration: none;
}

@media (min-width: 900px) {
  .pagination {
    margin: var(--spacing-xxxl) auto 0;
  }

  .pagination > div {
    column-gap: var(--spacing-m);
  }

  .pagination .column {
    padding: var(--spacing-s) var(--spacing-m);
  }

  .pagination .column p a {
    font-size: var(--type-body-l-size);
  }
}