/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host,
:root {
  --hlx-sk-bg: #e0e0e0;
  --hlx-sk-color: #505050;
  --hlx-sk-border: none;
  --hlx-sk-border-radius: 10px;
  --hlx-sk-font-family: arial, helvetica, sans-serif;
  --hlx-sk-font-size: 16px;
  --hlx-sk-line-height: 1;
  --hlx-sk-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  --hlx-sk-button-color: #707070;
  --hlx-sk-button-bg: transparent;
  --hlx-sk-button-border: solid 1px var(--hlx-sk-button-color);
  --hlx-sk-button-font-size: var(--hlx-sk-font-size);
  --hlx-sk-button-line-height: var(--hlx-sk-line-height);
  --hlx-sk-button-font-weight: 500;
  --hlx-sk-button-padding: 5px 8px;
  --hlx-sk-button-hover-bg: #707070;
  --hlx-sk-button-hover-border: #707070;
  --hlx-sk-button-hover-color: white;
  --hlx-sk-button-pressed-bg: #c0c0c0;
  --hlx-sk-button-pressed-color: #505050;
  --hlx-sk-button-border-radius: 6px;
  --hlx-sk-button-disabled-color: #909090;
  --hlx-sk-button-disabled-border: solid 1px var(--hlx-sk-button-disabled-color);
  --hlx-sk-button-disabled-hover-bg: transparent;
  --hlx-sk-dropdown-container-bg: rgba(224, 224, 224, .9);
  --hlx-sk-modal-overlay-bg: rgba(0,0,0, 0.5);
  --hlx-sk-modal-bg-0: #e60016;
  --hlx-sk-modal-bg-1: #e67316;
  --hlx-sk-modal-color: white;
  --hlx-sk-modal-help-bg: #1473e6;
  --hlx-sk-modal-help-color: white;
  --hlx-sk-modal-font-size: 1.5rem;
  --hlx-sk-special-view-button-color: rgba(0,0,0, 0.5);
  --hlx-sk-special-view-table-border: rgba(0,0,0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :host,
  :root {
    --hlx-sk-bg: rgb(48, 48, 48);
    --hlx-sk-color: #dedede;
    --hlx-sk-button-color: #dedede;
    --hlx-sk-button-hover-bg: #909090;
    --hlx-sk-button-hover-border: var(--hlx-sk-color);
    --hlx-sk-button-hover-color: #303030;
    --hlx-sk-button-pressed-bg: #505050;
    --hlx-sk-button-pressed-color: white;
    --hlx-sk-button-disabled-color: #707070;
    --hlx-sk-button-disabled-border: solid 1px var(--hlx-sk-button-disabled-color);
    --hlx-sk-dropdown-container-bg: rgba(48, 48, 48, .9);
    --hlx-sk-modal-overlay-bg: rgba(127, 127, 127, 0.5);
    --hlx-sk-special-view-button-color: rgba(127, 127, 127, 0.8);
    --hlx-sk-special-view-table-border: rgba(127, 127, 127, 0.8);
  }
}

.hlx-sk {
  z-index: 9999999;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  background-color: var(--hlx-sk-bg);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 216 216'><defs><style>.cls-1{fill:%23f15a3a;}.cls-2{fill:%23c71f3d;}.cls-3{fill:%23ffc40c;}</style></defs><circle class='cls-1' cx='22.5' cy='108' r='22.5'/><circle class='cls-1' cx='193.5' cy='108' r='22.5'/><circle class='cls-2' cx='63' cy='27' r='27'/><circle class='cls-3' cx='162' cy='27' r='18'/><circle class='cls-2' cx='162' cy='189' r='27'/><circle class='cls-3' cx='63' cy='189' r='18'/></svg>");
  background-repeat: no-repeat;
  background-position: 10px 14px;
  background-size: 22px;
  color: var(--hlx-sk-color);
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 49px;
  box-sizing: border-box;
  padding: 0 10px 10px 42px;
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  box-shadow: var(--hlx-sk-shadow);
}

.hlx-sk button,
.hlx-sk-overlay button {
  background-color: transparent;
  border: var(--hlx-sk-button-border);
  border-radius: var(--hlx-sk-button-border-radius);
  color: var(--hlx-sk-button-color);
  font-size: var(--hlx-sk-button-font-size);
  line-height: var(--hlx-sk-button-line-height);
  font-family: var(--hlx-sk-font-family);
  font-weight: var(--hlx-sk-button-font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: var(--hlx-sk-button-padding);
  cursor: pointer;
  outline: none;
  min-width: 28px;
  min-height: 28px;
  max-height: 28px;
  margin: 10px 8px 0 0;
}

.hlx-sk button:hover,
.hlx-sk button:focus,
.hlx-sk-overlay button:hover,
.hlx-sk-overlay button:focus {
  background-color: var(--hlx-sk-button-hover-bg);
  border-color: var(--hlx-sk-button-hover-border);
  color: var(--hlx-sk-button-hover-color);
}

.hlx-sk button.pressed,
.hlx-sk-overlay button.pressed {
  background-color: var(--hlx-sk-button-pressed-bg);
  color: var(--hlx-sk-button-pressed-color);
}

.hlx-sk button:disabled,
.hlx-sk-overlay button:disabled {
  color: var(--hlx-sk-button-disabled-color);
  border: var(--hlx-sk-button-disabled-border);
}

.hlx-sk button:disabled:hover,
.hlx-sk-overlay button:disabled:hover {
  background-color: var(--hlx-sk-button-disabled-hover-bg);
}

.hlx-sk .update button::after {
  content: "*";
}

.hlx-sk .plugin-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.hlx-sk .plugin-container.loading::before,
.hlx-sk .plugin-container.empty::before {
  margin-top: 10px;
  height: 20px;
  line-height: 2;
}

.hlx-sk .feature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}

.hlx-sk .feature-container button {
  border-color: transparent;
}

.hlx-sk .feature-container .share {
  padding-left: 5px;
}

.hlx-sk .feature-container .share::before {
  display: none;
}

.hlx-sk .feature-container .share i {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(0.8);
  width: 6px;
  height: 6px;
  background: currentColor;
  border-radius: 100px;
  box-shadow: 10px -6px 0, 10px 6px 0;
}

.hlx-sk .feature-container .share i::after,
.hlx-sk .feature-container .share i::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: 2px;
}

.hlx-sk .feature-container .share i::before {
  top: 0;
  transform: rotate(-35deg);
}

.hlx-sk .feature-container .share i::after {
  bottom: 0;
  transform: rotate(35deg);
}

.hlx-sk .feature-container .close {
  margin-right: 0;
  position: relative;
  display: block;
}

.hlx-sk .feature-container .close::after,
.hlx-sk .feature-container .close::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  top: 12px;
  left: 5px;
}

.hlx-sk .feature-container .close::after {
  transform: rotate(-45deg);
}

.hlx-sk .dropdown {
  display: none;
  min-height: 28px;
  max-height: 28px;
  margin-top: 10px;
  position: relative;
}

.hlx-sk .dropdown-container {
  display: none;
  position: absolute;
  min-width: 120px;
  top: 40px;
  background-color: var(--hlx-sk-dropdown-container-bg);
  border-radius: var(--hlx-sk-button-border-radius);
  box-shadow: var(--hlx-sk-shadow);
}

.hlx-sk .dropdown button:hover {
  color: var(--hlx-sk-button-hover-color);
  background-color: var(--hlx-sk-button-hover-bg);
}

.hlx-sk:not(.hlx-sk-loading) .dropdown {
  display: block;
  margin-top: 0;
}

.hlx-sk .dropdown .dropdown-toggle::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: 7px;
  left: 1px;
  position: relative;
  top: 2px;
  transform: rotate(135deg);
  vertical-align: top;
  width: 7px;
  margin-left: 4px;
}

.hlx-sk .dropwdown .dropdown-toggle:focus {
  background-color: var(--hlx-sk-button-bg);
  color: var(--hlx-sk-button-color);
}

.hlx-sk .dropdown .dropdown-toggle:hover {
  background-color: var(--hlx-sk-button-hover-bg);
  color: var(--hlx-sk-button-hover-color);
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-toggle::after {
  top: 6px;
  transform: rotate(-45deg);
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container {
  display: flex;
  flex-direction: column;
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container button,
.hlx-sk .dropdown.dropdown-expanded .dropdown-container button.pressed {
  margin-top: 0;
  padding: 8px;
  border: none;
  border-radius: 0;
  width: 100%;
  text-align: left;
  max-height: unset;
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:first-of-type button,
.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:first-of-type button.pressed {
  border-top-left-radius: var(--hlx-sk-button-border-radius);
  border-top-right-radius: var(--hlx-sk-button-border-radius);
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:last-of-type button,
.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:last-of-type button.pressed {
  border-bottom-left-radius: var(--hlx-sk-button-border-radius);
  border-bottom-right-radius: var(--hlx-sk-button-border-radius);
}

.hlx-sk .env .dropdown-toggle {
  font-size: 14px;
  line-height: 1.2;
}

.hlx-sk-overlay {
  z-index: 9999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--hlx-sk-modal-overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hlx-sk-overlay .modal {
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-modal-font-size);
  border-radius: 32px;
  padding: 12px 32px;
  max-width: 60vw;
  background-color: var(--hlx-sk-bg);
  color: var(--hlx-sk-color);
  box-shadow: var(--hlx-sk-shadow);
}

.hlx-sk-overlay .modal * {
  font-size: var(--hlx-sk-modal-font-size);
}

.hlx-sk-overlay .modal a:any-link {
  color: currentColor;
  word-break: break-all;
}

.hlx-sk-overlay .level-0 {
  background-color: var(--hlx-sk-modal-bg-0);
  color: var(--hlx-sk-modal-color);
}

.hlx-sk-overlay .level-1 {
  background-color: var(--hlx-sk-modal-bg-1);
  color: var(--hlx-sk-modal-color);
}

.hlx-sk-overlay .modal.help {
  margin-top: 15px;
  position: absolute;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: var(--hlx-sk-modal-help-bg);
  color: var(--hlx-sk-modal-help-color);
  max-width: 60vw;
}

.hlx-sk-overlay .modal.help * {
  font-size: var(--hlx-sk-button-font-size);
}

.hlx-sk-overlay .modal.help:after {
	content: '';
	position: absolute;
  top: -10px;
  left: 40px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--hlx-sk-modal-help-bg);
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
  transform: rotate(180deg);
}


.hlx-sk-overlay .modal.help.bottom-center:after {
  display: none;
}

.hlx-sk-overlay .modal.help.bottom-right:after {
  left: unset;
  right: 40px;
}

.hlx-sk-overlay .modal.help p {
  margin: 4px 0;
}

.hlx-sk-overlay .modal.help p.help-controls {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hlx-sk-overlay .modal.help p.help-controls .help-steps {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: left;
}

.hlx-sk-overlay .modal.help p.help-controls .help-steps:empty {
  flex-grow: 0;
}

.hlx-sk-overlay .modal.help button {
  background-color: var(--hlx-sk-modal-help-bg);
  border-color: var(--hlx-sk-modal-help-color);
  color: var(--hlx-sk-modal-help-color);
}

.hlx-sk-overlay .modal.help button:hover,
.hlx-sk-overlay .modal.help button:focus {
  background-color: var(--hlx-sk-modal-help-color);
  color: var(--hlx-sk-modal-help-bg);
}

.hlx-sk-overlay .modal.help button.help-acknowledge {
  justify-self: left;
}

.hlx-sk-overlay .modal.help .help-step {
  padding: 19px 12px 9px 12px;
  cursor: pointer;    
}

.hlx-sk-overlay .modal.help .help-step .circle {
  border: 5px solid var(--hlx-sk-modal-help-color);
  border-radius: 50%;
  width: 0;
  height: 0;  
  opacity: 0.45;
}

.hlx-sk-overlay .modal.help .help-step.help-current .circle {
  opacity: 1;
}

.hlx-sk-overlay .modal.help .help-step::before {
  display: none;
}

.hlx-sk-hidden {
  display: none !important;
}

.hlx-sk-special-view {
  position: fixed;
  z-index: 9999997;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--hlx-sk-bg);
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  color: var(--hlx-sk-color);
  padding: 20px;
}

.hlx-sk-special-view .description {
  margin-bottom: 10px;
}

.hlx-sk-special-view .description button {
  background-color: transparent;
  border: none;
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  font-weight: var(--hlx-sk-button-font-weight);
  color: var(--hlx-sk-special-view-button-color);
  text-decoration: underline;
  cursor: pointer;
}

.hlx-sk-special-view .container {
  max-width: 100vw;
  max-height: calc(100% - 99px);
  overflow: auto;
}

.hlx-sk-special-view h2 {
  margin: 10px 0;
  font-size: 1.25rem;
  min-height: 1.25rem;
}

.hlx-sk-special-view table {
  width: calc(100vw - 40px);
  max-height: calc(100vh - 80px);
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
}

.hlx-sk-special-view table tr {
  vertical-align: top;
}


.hlx-sk-special-view table th {
  background-color: var(--hlx-sk-bg);
  padding: 5px;
}

.hlx-sk-special-view table,
.hlx-sk-special-view table tr,
.hlx-sk-special-view table th,
.hlx-sk-special-view table td {
  border: solid 1px var(--hlx-sk-special-view-table-border);
}

.hlx-sk-special-view table td > div {
  padding: 5px;
  min-height: 0.875rem;
  font-size: 0.875rem;
}

.hlx-sk-special-view table td > div.image  {
  padding: 0;
}

.hlx-sk-special-view table td > div img {
  width: 100%;
  max-width: 240px;
}

.hlx-sk-special-view table td > div ul {
  margin: 0;
  padding-inline-start: 20px;
}

.hlx-sk-special-view table td > div li {
  padding: 0;
}

.hlx-sk-special-view table td > div a:any-link {
  color: var(--hlx-sk-color);
  text-decoration: none;
}

.hlx-sk-special-view table td > div a:hover {
  text-decoration: underline;
}

@media(max-width:600px) {
  .hlx-sk {
    background-image: none;
    padding-left: 10px;
  }

  .hlx-sk .feature-container .share {
    display: none;
  }

  .hlx-sk .env .dropdown-container {
    right: 8px;
  }
}

@media(max-width:400px) {
  .hlx-sk .env.dropdown .dropdown-toggle::before {
    font-size: 0;
  }

  .hlx-sk .env.dropdown .dropdown-toggle::after {
    margin-left: 0;
    margin-right: 4px;
  }

  .hlx-sk .env.dropdown .dropdown-toggle::after {
    transform: rotate(135deg) scale(1.4);
  }

  .hlx-sk .env.dropdown.dropdown-expanded .dropdown-toggle::after {
    top: 7px;
    transform: rotate(-45deg) scale(1.4);
  }

  .hlx-sk-overlay .modal.help {
    text-align: center;
  }

  .hlx-sk-overlay .modal.help p.help-controls,
  .hlx-sk-overlay .modal.help p.help-controls .help-steps {
    justify-content: center;
  }
}

/* i18n */

.hlx-sk .plugin-container.empty::before {
  content: "No actions found for this page";
}

.hlx-sk .plugin-container.loading::before {
  content: 'Loading actions...';
}

.hlx-sk .share::before {
  content: "Share your Sidekick";
}

.hlx-sk .close::before {
  content: "Close";
}

.hlx-sk-overlay div.modal.wait:empty::before {
  content: "Please wait..."
}

.hlx-sk .edit button::before {
  content: "Edit";
}

.hlx-sk .env .dropdown-toggle::before {
  content: "View";
}

.hlx-sk .env.preview .dropdown-toggle::before,
.hlx-sk .env .preview button::before,
.hlx-sk .edit-preview button::before {
  content: "Preview";
}

.hlx-sk .env.live .dropdown-toggle::before,
.hlx-sk .env .live button::before {
  content: "Live";
}

.hlx-sk .env.prod .dropdown-toggle::before,
.hlx-sk .env .prod button::before {
  content: "Production";
}

.hlx-sk .reload button::before {
  content: "Reload";
}

.hlx-sk .delete button::before {
  content: "Delete";
}

.hlx-sk .publish button::before {
  content: "Publish";
}

.hlx-sk .unpublish button::before {
  content: "Unpublish";
}

.hlx-sk-special-view .description::before {
  content: "User-friendly data rendition.";
}

.hlx-sk-special-view button.close::before {
  content: "Turn off";
}

.hlx-sk-special-view h2.helix-default::before {
  content: "Default sheet";
}

.hlx-sk-overlay .modal.help .help-acknowledge::before {
  content: "Got it!";
}

.hlx-sk-overlay .modal.help .help-dismiss::before {
  content: "Not now";
}

.hlx-sk-overlay .modal.help .help-previous::before {
  content: "Previous tip";
}

.hlx-sk-overlay .modal.help .help-current::before {
  content: "This tip";
}

.hlx-sk-overlay .modal.help .help-next::before {
  content: "Next tip";
}