/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host,
:root {
  --hlx-sk-bg: #e0e0e0;
  --hlx-sk-color: #505050;
  --hlx-sk-border: none;
  --hlx-sk-border-radius: 10px;
  --hlx-sk-font-family: arial, helvetica, sans-serif;
  --hlx-sk-font-size: 16px;
  --hlx-sk-line-height: 1;
  --hlx-sk-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  --hlx-sk-button-color: #707070;
  --hlx-sk-button-bg: transparent;
  --hlx-sk-button-border: solid 1px var(--hlx-sk-button-color);
  --hlx-sk-button-font-size: var(--hlx-sk-font-size);
  --hlx-sk-button-line-height: var(--hlx-sk-line-height);
  --hlx-sk-button-font-weight: 500;
  --hlx-sk-button-padding: 5px 8px;
  --hlx-sk-button-hover-bg: #707070;
  --hlx-sk-button-hover-border: #707070;
  --hlx-sk-button-hover-color: white;
  --hlx-sk-button-pressed-bg: #c0c0c0;
  --hlx-sk-button-pressed-color: #505050;
  --hlx-sk-button-border-radius: 6px;
  --hlx-sk-button-disabled-color: #909090;
  --hlx-sk-button-disabled-border: solid 1px var(--hlx-sk-button-disabled-color);
  --hlx-sk-button-disabled-hover-bg: transparent;
  --hlx-sk-button-badge: #F15B3A;
  --hlx-sk-button-badge-hover: #FFC40E;
  --hlx-sk-label-font-size: 14px;
  --hlx-sk-dropdown-container-bg: rgba(224, 224, 224, .9);
  --hlx-sk-dropdown-container-bg-solid: rgb(224, 224, 224);
  --hlx-sk-modal-overlay-bg: rgba(0,0,0, 0.5);
  --hlx-sk-modal-bg-0: #e60016;
  --hlx-sk-modal-bg-1: #e67316;
  --hlx-sk-modal-color: white;
  --hlx-sk-modal-help-bg: #1473e6;
  --hlx-sk-modal-help-color: white;
  --hlx-sk-modal-help-dropdown-container-bg: #1473e6be;
  --hlx-sk-modal-font-size: 1.25rem;
  --hlx-sk-special-view-button-color: rgba(0,0,0, 0.5);
  --hlx-sk-special-view-table-border: rgba(0,0,0, 0.5);
  --hlx-sk-palette-title-bg: rgba(0 0 0 / 10%);
  --hlx-sk-user-bg: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
  :host,
  :root {
    --hlx-sk-bg: rgb(48, 48, 48);
    --hlx-sk-color: #dedede;
    --hlx-sk-button-color: #dedede;
    --hlx-sk-button-hover-bg: #909090;
    --hlx-sk-button-hover-border: var(--hlx-sk-color);
    --hlx-sk-button-hover-color: #303030;
    --hlx-sk-button-pressed-bg: #505050;
    --hlx-sk-button-pressed-color: white;
    --hlx-sk-button-disabled-color: #707070;
    --hlx-sk-button-disabled-border: solid 1px var(--hlx-sk-button-disabled-color);
    --hlx-sk-button-badge: #F15B3A;
    --hlx-sk-button-badge-hover: #C71F3D;
    --hlx-sk-dropdown-container-bg: rgba(48, 48, 48, .9);
    --hlx-sk-dropdown-container-bg-solid: rgb(48, 48, 48);
    --hlx-sk-modal-overlay-bg: rgba(127, 127, 127, 0.5);
    --hlx-sk-special-view-button-color: rgba(127, 127, 127, 0.8);
    --hlx-sk-special-view-table-border: rgba(127, 127, 127, 0.8);
    --hlx-sk-palette-title-bg: rgba(127 127 127 / 20%);
    --hlx-sk-user-bg: #909090;
  }
}

.hlx-sk {
  z-index: 9999999;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  background-color: var(--hlx-sk-bg);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 216 216'><defs><style>.cls-1{fill:%23f15a3a;}.cls-2{fill:%23c71f3d;}.cls-3{fill:%23ffc40c;}</style></defs><circle class='cls-1' cx='22.5' cy='108' r='22.5'/><circle class='cls-1' cx='193.5' cy='108' r='22.5'/><circle class='cls-2' cx='63' cy='27' r='27'/><circle class='cls-3' cx='162' cy='27' r='18'/><circle class='cls-2' cx='162' cy='189' r='27'/><circle class='cls-3' cx='63' cy='189' r='18'/></svg>");
  background-repeat: no-repeat;
  background-position: 10px 14px;
  background-size: 22px;
  color: var(--hlx-sk-color);
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 49px;
  box-sizing: border-box;
  padding: 10px 10px 10px 42px;
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  box-shadow: var(--hlx-sk-shadow);
}

.hlx-sk button,
.hlx-sk-overlay button {
  background-color: transparent;
  border: var(--hlx-sk-button-border);
  border-radius: var(--hlx-sk-button-border-radius);
  color: var(--hlx-sk-button-color);
  font-size: var(--hlx-sk-button-font-size);
  line-height: var(--hlx-sk-button-line-height);
  font-family: var(--hlx-sk-font-family);
  font-weight: var(--hlx-sk-button-font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: var(--hlx-sk-button-padding);
  cursor: pointer;
  outline: none;
  min-width: 28px;
  min-height: 28px;
  max-height: 28px;
  margin: 0 8px 0 0;
}

.hlx-sk button:hover,
.hlx-sk button:focus,
.hlx-sk-overlay button:hover,
.hlx-sk-overlay button:focus {
  background-color: var(--hlx-sk-button-hover-bg);
  border-color: var(--hlx-sk-button-hover-border);
  color: var(--hlx-sk-button-hover-color);
}

.hlx-sk button.pressed,
.hlx-sk-overlay button.pressed {
  background-color: var(--hlx-sk-button-pressed-bg);
  color: var(--hlx-sk-button-pressed-color);
}

.hlx-sk button:disabled,
.hlx-sk-overlay button:disabled {
  color: var(--hlx-sk-button-disabled-color);
  border: var(--hlx-sk-button-disabled-border);
}

.hlx-sk button:disabled:hover,
.hlx-sk-overlay button:disabled:hover {
  background-color: var(--hlx-sk-button-disabled-hover-bg);
}

.hlx-sk .update button {
  position: relative;
}

.hlx-sk .update button::after {
  content: " ";
  height: 5px;
  width: 5px;
  background-color: var(--hlx-sk-button-badge);
  border-radius: 50%;
  top: 2px;
  right: 2px;
  position: absolute;
}

.hlx-sk .update button:hover::after {
  background-color: var(--hlx-sk-button-badge-hover);
}

.hlx-sk .plugin-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 8px;
}

.hlx-sk .plugin-container.loading::before,
.hlx-sk .plugin-container:empty::before {
  line-height: 28px;
}

.hlx-sk .plugin > span {
  display: inline-block;
  margin: 7px 8px 0 0;
  font-size: var(--hlx-sk-label-font-size);
}

.hlx-sk .feature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}

.hlx-sk .feature-container button {
  border-color: transparent;
}

.hlx-sk .feature-container .info {
  line-height: normal;
}

.hlx-sk .feature-container .info > button::before {
    display: none;
}

.hlx-sk .feature-container .info .dropdown-container {
  right: 8px;
  background-color: var(--hlx-sk-dropdown-container-bg-solid);
}

.hlx-sk .feature-container .info .page-info {
  position: relative;
  font-size: 12px;
  margin: 10px;
  padding-left: 80px;
}

.hlx-sk .feature-container .info .page-info > div {
  padding: 5px 0;
  white-space: nowrap;
}

.hlx-sk .feature-container .info .page-info > div::before {
  position: absolute;
  font-weight: bold;
  left: 2px;
}

.hlx-sk .feature-container .user .dropdown-toggle {
  position: relative;
  border: none;
  padding: 0;
  margin-top: 0;
  overflow: hidden;
}

.hlx-sk .feature-container .user .dropdown-toggle::before {
  font-size: 0;
  line-height: 0;
}

.hlx-sk .feature-container .info .dropdown-toggle:disabled {
  opacity: 0.4;
}

.hlx-sk .feature-container .user .dropdown-toggle:disabled {
  opacity: 0.8;
}

.hlx-sk .feature-container .info .dropdown-toggle::after,
.hlx-sk .feature-container .user .dropdown-toggle::after {
  display: none;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-icon {
  background-color: var(--hlx-sk-user-bg);
  position: absolute;
  font-size: 4px;
  top: 0;
  height: 28px;
  width: 28px;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-icon::before {
  content: " ";
  display: block;
  height: 3em;
  width: 3em;
  background: currentColor;
  position: relative;
  left: 8px;
  top: 4px;
  border-radius: 2em;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-icon::after {
  content: " ";
  display: block;
  height: 2.45em;
  width: 5em;
  background: currentColor;
  position: relative;
  left: 4px;
  top: 6px;
  border-radius: 2em 2em 0 0;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-icon-hidden {
  height: 0;
  opacity: 0;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-picture {
  background-color: var(--hlx-sk-user-bg);
  width: 28px;
  height: 28px;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-picture:hover,
.hlx-sk .feature-container .user .dropdown-toggle .user-picture:focus {
  transform: scale(1.2);
  transition: transform .3s ease;
}

.hlx-sk .feature-container .user .user-info {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--hlx-sk-bg);
  color: var(--hlx-sk-button-color);
  padding: 8px 0;
  cursor: text;
  user-select: text;
}

.hlx-sk .feature-container .user .user-info > div {
  padding: 2px 10px;
  white-space: nowrap;
  font-size: 14px;
}

.hlx-sk .feature-container .user .user-info .profile-name {
  font-weight: 600;
}

.hlx-sk .feature-container .share {
  padding-left: 5px;
}

.hlx-sk .feature-container .share::before {
  display: none;
}

.hlx-sk .feature-container .share i {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(0.8);
  width: 6px;
  height: 6px;
  background: currentColor;
  border-radius: 100px;
  box-shadow: 10px -6px 0, 10px 6px 0;
}

.hlx-sk .feature-container .share i::after,
.hlx-sk .feature-container .share i::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: 2px;
}

.hlx-sk .feature-container .share i::before {
  top: 0;
  transform: rotate(-35deg);
}

.hlx-sk .feature-container .share i::after {
  bottom: 0;
  transform: rotate(35deg);
}

.hlx-sk .feature-container .close,
.hlx-sk-palette .close {
  margin-right: 0;
  position: relative;
  display: block;
}

.hlx-sk .feature-container .close::after,
.hlx-sk .feature-container .close::before,
.hlx-sk-palette .close::after,
.hlx-sk-palette .close::before {
  content: "";
  font-size: 0;
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  top: 12px;
  left: 5px;
}

.hlx-sk .feature-container .close::after,
.hlx-sk-palette .close::after {
  transform: rotate(-45deg);
}

.hlx-sk .feature-container .info-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='18' viewBox='0 0 18 18' width='18'%3E%3Cdefs%3E%3Cstyle%3E .fill { fill: %23707070; } @media (prefers-color-scheme: dark) { .fill { fill: %23dedede; } } %3C/style%3E%3C/defs%3E%3Ctitle%3ES InfoOutline 18 N%3C/title%3E%3Crect id='Canvas' fill='%23fff' opacity='0' width='18' height='18' /%3E%3Cpath class='fill' d='M10.075,6A1.075,1.075,0,1,1,9,4.925H9A1.075,1.075,0,0,1,10.075,6Zm.09173,6H10V8.2A.20005.20005,0,0,0,9.8,8H7.83324S7.25,8.01612,7.25,8.5c0,.48365.58325.5.58325.5H8v3H7.83325s-.58325.01612-.58325.5c0,.48365.58325.5.58325.5h2.3335s.58325-.01635.58325-.5C10.75,12.01612,10.16673,12,10.16673,12ZM9,.5A8.5,8.5,0,1,0,17.5,9,8.5,8.5,0,0,0,9,.5ZM9,15.6748A6.67481,6.67481,0,1,1,15.67484,9,6.67481,6.67481,0,0,1,9,15.6748Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 3px 3px;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 28px;
  width: 28px;
  fill: var(--hlx-sk-button-color);
}

.hlx-sk .feature-container .info.plugin .dropdown-toggle:focus .info-icon,
.hlx-sk .feature-container .info.plugin .dropdown-toggle:hover .info-icon {
  filter: brightness(400%);
}

.hlx-sk .feature-container .modified-dates {
  display: flex;
  font-size: 12px;
}

.hlx-sk .feature-container .modified-dates > div {
  line-height: normal;
  margin: 0 10px;
  white-space: pre;
}

.hlx-sk .dropdown,
.hlx-sk-overlay .dropdown {
  min-height: 28px;
  max-height: 28px;
  position: relative;
}

.hlx-sk .dropdown-container,
.hlx-sk-overlay .dropdown-container {
  display: none;
  position: absolute;
  min-width: 120px;
  top: 30px;
  background-color: var(--hlx-sk-dropdown-container-bg);
  border-radius: var(--hlx-sk-button-border-radius);
  box-shadow: var(--hlx-sk-shadow);
  overflow: hidden;
}

.hlx-sk .dropdown button:hover,
.hlx-sk-overlay .dropdown button:hover {
  color: var(--hlx-sk-button-hover-color);
  background-color: var(--hlx-sk-button-hover-bg);
}

.hlx-sk:not(.hlx-sk-loading) .dropdown,
.hlx-sk-overlay .dropdown {
  display: block;
  /* margin-top: 0; */
}

.hlx-sk-overlay .dropdown {
  max-height: unset;
}

.hlx-sk .dropdown .dropdown-toggle::after,
.hlx-sk-overlay .dropdown .dropdown-toggle::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: 7px;
  left: 1px;
  position: relative;
  top: 2px;
  transform: rotate(135deg);
  vertical-align: top;
  width: 7px;
  margin-left: 4px;
}

.hlx-sk .dropwdown .dropdown-toggle:focus {
  background-color: var(--hlx-sk-button-bg);
  color: var(--hlx-sk-button-color);
}

.hlx-sk .dropdown .dropdown-toggle:hover,
.hlx-sk-overlay .dropdown .dropdown-toggle:hover {
  background-color: var(--hlx-sk-button-hover-bg);
  color: var(--hlx-sk-button-hover-color);
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-toggle::after,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-toggle::after {
  top: 6px;
  transform: rotate(-45deg);
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container {
  display: flex;
  flex-direction: column;
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container button,
.hlx-sk .dropdown.dropdown-expanded .dropdown-container button.pressed,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container button,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container button.pressed {
  margin-top: 0;
  padding: 8px;
  border: none;
  border-radius: 0;
  width: 100%;
  text-align: left;
  max-height: unset;
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:first-of-type button,
.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:first-of-type button.pressed,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container > button:first-of-type,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container > button.pressed:first-of-type {
  border-top-left-radius: var(--hlx-sk-button-border-radius);
  border-top-right-radius: var(--hlx-sk-button-border-radius);
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:last-of-type button,
.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:last-of-type button.pressed,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container > button:last-of-type,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container > button.pressed:last-of-type {
  border-bottom-left-radius: var(--hlx-sk-button-border-radius);
  border-bottom-right-radius: var(--hlx-sk-button-border-radius);
}

.hlx-sk .env .dropdown-toggle {
  font-size: 14px;
  line-height: 1.2;
}

.hlx-sk-overlay {
  z-index: 9999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--hlx-sk-modal-overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hlx-sk-overlay .modal {
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-modal-font-size);
  border-radius: 32px;
  padding: 12px 32px;
  max-width: 60vw;
  background-color: var(--hlx-sk-bg);
  color: var(--hlx-sk-color);
  box-shadow: var(--hlx-sk-shadow);
}

.hlx-sk-overlay .modal p {
  font-size: var(--hlx-sk-modal-font-size);
  text-align: center;
}

.hlx-sk-overlay .modal a:any-link {
  color: currentColor;
  word-break: break-all;
}

.hlx-sk-overlay .level-0 {
  background-color: var(--hlx-sk-modal-bg-0);
  color: var(--hlx-sk-modal-color);
}

.hlx-sk-overlay .level-1 {
  background-color: var(--hlx-sk-modal-bg-1);
  color: var(--hlx-sk-modal-color);
}

.hlx-sk-overlay .level-0 button,
.hlx-sk-overlay .level-1 button {
  border-color: var(--hlx-sk-modal-color);
  color: var(--hlx-sk-modal-color);
}

.hlx-sk-overlay .level-0 button:hover {
  background-color: var(--hlx-sk-modal-color);
  color: var(--hlx-sk-modal-bg-0);
}

.hlx-sk-overlay .level-1 button:hover {
  background-color: var(--hlx-sk-modal-color);
  color: var(--hlx-sk-modal-bg-1);
}

.hlx-sk-overlay .modal.help {
  margin-top: 15px;
  position: absolute;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: var(--hlx-sk-modal-help-bg);
  color: var(--hlx-sk-modal-help-color);
  max-width: 60vw;
}

.hlx-sk-overlay .modal.help * {
  font-size: var(--hlx-sk-button-font-size);
}

.hlx-sk-overlay .modal.help:after {
	content: '';
	position: absolute;
  top: -10px;
  left: 40px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--hlx-sk-modal-help-bg);
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
  transform: rotate(180deg);
}


.hlx-sk-overlay .modal.help.bottom-center:after {
  display: none;
}

.hlx-sk-overlay .modal.help.bottom-right:after {
  left: unset;
  right: 40px;
}

.hlx-sk-overlay .modal.help p {
  margin: 4px 0;
}

.hlx-sk-overlay .modal.help p.help-controls {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hlx-sk-overlay .modal.help p.help-controls .help-steps {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: left;
}

.hlx-sk-overlay .modal.help p.help-controls .help-steps:empty {
  flex-grow: 0;
}

.hlx-sk-overlay .modal.help p.help-controls .help-actions {
  display: flex;
  justify-content: right;
}

.hlx-sk-overlay .modal.help button {
  background-color: var(--hlx-sk-modal-help-bg);
  border-color: var(--hlx-sk-modal-help-color);
  color: var(--hlx-sk-modal-help-color);
}

.hlx-sk-overlay .modal.help .dropdown-container {
  background-color: var(--hlx-sk-modal-help-dropdown-container-bg);
}

.hlx-sk-overlay .modal.help .dropdown-container button {
  background-color: transparent;
}

.hlx-sk-overlay .modal.help button:hover,
.hlx-sk-overlay .modal.help button:focus {
  background-color: var(--hlx-sk-modal-help-color);
  color: var(--hlx-sk-modal-help-bg);
}

.hlx-sk-overlay .modal.help .help-step {
  padding: 19px 12px 9px 12px;
  cursor: pointer;
}

.hlx-sk-overlay .modal.help .help-step .circle {
  border: 5px solid var(--hlx-sk-modal-help-color);
  border-radius: 50%;
  width: 0;
  height: 0;
  opacity: 0.45;
}

.hlx-sk-overlay .modal.help .help-step.help-current .circle {
  opacity: 1;
}

.hlx-sk-overlay .modal.help .help-step::before {
  display: none;
}

.hlx-sk-advanced-only {
  display: none;
}

.hlx-sk.hlx-sk-advanced .hlx-sk-advanced-only {
  display: initial;
}

.hlx-sk-hidden {
  display: none !important;
}

.hlx-sk-special-view {
  position: fixed;
  z-index: 9999997;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--hlx-sk-bg);
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  color: var(--hlx-sk-color);
  padding: 20px;
}

.hlx-sk-special-view .description {
  margin-bottom: 10px;
}

.hlx-sk-special-view .description button {
  background-color: transparent;
  border: none;
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  font-weight: var(--hlx-sk-button-font-weight);
  color: var(--hlx-sk-special-view-button-color);
  text-decoration: underline;
  cursor: pointer;
}

.hlx-sk-special-view .container {
  max-width: 100vw;
  max-height: calc(100% - 99px);
  overflow: auto;
}

.hlx-sk-special-view h2 {
  margin: 10px 0;
  font-size: 1.25rem;
  min-height: 1.25rem;
}

.hlx-sk-special-view table {
  width: calc(100vw - 40px);
  max-height: calc(100vh - 80px);
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
}

.hlx-sk-special-view table tr {
  vertical-align: top;
}


.hlx-sk-special-view table th {
  background-color: var(--hlx-sk-bg);
  padding: 5px;
}

.hlx-sk-special-view table,
.hlx-sk-special-view table tr,
.hlx-sk-special-view table th,
.hlx-sk-special-view table td {
  border: solid 1px var(--hlx-sk-special-view-table-border);
}

.hlx-sk-special-view table td > div {
  padding: 5px;
  min-height: 0.875rem;
  font-size: 0.875rem;
}

.hlx-sk-special-view table td > div.image  {
  padding: 0;
}

.hlx-sk-special-view table td > div img {
  width: 100%;
  max-width: 240px;
}

.hlx-sk-special-view table td > div ul {
  margin: 0;
  padding-inline-start: 20px;
}

.hlx-sk-special-view table td > div li {
  padding: 0;
}

.hlx-sk-special-view table td > div a:any-link {
  color: var(--hlx-sk-color);
  text-decoration: none;
}

.hlx-sk-special-view table td > div a:hover {
  text-decoration: underline;
}

.hlx-sk-palette {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9999999;
  background-color: var(--hlx-sk-bg);
  color: var(--hlx-sk-color);
  box-sizing: border-box;
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  box-shadow: var(--hlx-sk-shadow);
  border-top-left-radius: var(--hlx-sk-button-border-radius);
  border-top-right-radius: var(--hlx-sk-button-border-radius);
  width: 200px;
  height: 500px;
  top: 200px;
  left: 20px;
}

.hlx-sk-palette .palette-title {
  position: relative;
  background-color: var(--hlx-sk-palette-title-bg);
  border-top-left-radius: var(--hlx-sk-button-border-radius);
  border-top-right-radius: var(--hlx-sk-button-border-radius);
  padding: 10px;
}

.hlx-sk-palette .palette-title .close {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
}

.hlx-sk-palette .palette-content {
  flex-grow: 1;
}

.hlx-sk-palette .palette-content iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.hlx-sk span.hlx-sk-placeholder {
  display: none;
}

@media(max-width:600px) {
  .hlx-sk {
    background-image: none;
    padding-left: 10px;
  }

  .hlx-sk .feature-container .share {
    display: none;
  }

  .hlx-sk .env .dropdown-container {
    right: 8px;
  }
}

@media(max-width:400px) {
  .hlx-sk .env.dropdown .dropdown-toggle::before {
    font-size: 0;
  }

  .hlx-sk .env.dropdown .dropdown-toggle::after {
    margin-left: 0;
    margin-right: 4px;
  }

  .hlx-sk .env.dropdown .dropdown-toggle::after {
    transform: rotate(135deg) scale(1.4);
  }

  .hlx-sk .env.dropdown.dropdown-expanded .dropdown-toggle::after {
    top: 7px;
    transform: rotate(-45deg) scale(1.4);
  }

  .hlx-sk-overlay .modal.help {
    text-align: center;
  }

  .hlx-sk-overlay .modal.help p.help-controls,
  .hlx-sk-overlay .modal.help p.help-controls .help-steps,
  .hlx-sk-overlay .modal.help p.help-controls .help-actions {
      justify-content: center;
  }
}

/* i18n */

.hlx-sk .plugin-container:empty::before {
  content: "No actions found for this page";
}

.hlx-sk .plugin-container.loading::before {
  content: 'Loading actions...';
}

.hlx-sk .share::before {
  content: "Share your Sidekick";
}

.hlx-sk .feature-container .close::before,
.hlx-sk-overlay .hlx-sk-bulk-close::before,
.hlx-sk-overlay .help-close button::before,
.hlx-sk-palette .close::before {
  content: "Close";
}

.hlx-sk-overlay div.modal.wait:empty::before {
  content: "Please wait..."
}

.hlx-sk .edit button::before {
  content: "Edit";
}

.hlx-sk .env .dropdown-toggle::before {
  content: "View";
}

.hlx-sk .env.is-dev .dropdown-toggle::before,
.hlx-sk .env .dev button::before {
  content: "Development";
}

.hlx-sk .env.is-preview .dropdown-toggle::before,
.hlx-sk .env .preview button::before,
.hlx-sk .edit-preview button::before,
.hlx-sk .bulk-preview button::before {
  content: "Preview";
}

.hlx-sk .env.is-live .dropdown-toggle::before,
.hlx-sk .env .live button::before {
  content: "Live";
}

.hlx-sk .env.is-prod .dropdown-toggle::before,
.hlx-sk .env .prod button::before {
  content: "Production";
}

.hlx-sk .reload button::before {
  content: "Reload";
}

.hlx-sk .delete button::before {
  content: "Delete";
}

.hlx-sk .publish button::before,
.hlx-sk .bulk-publish button::before {
  content: "Publish";
}

.hlx-sk .unpublish button::before {
  content: "Unpublish";
}

.hlx-sk-special-view .description::before {
  content: "User-friendly data rendition.";
}

.hlx-sk-special-view button.close::before {
  content: "Turn off";
}

.hlx-sk-special-view h2.helix-default::before {
  content: "Default sheet";
}

.hlx-sk-overlay .modal.help .help-acknowledge::before {
  content: "Got it!";
}

.hlx-sk-overlay .modal.help .help-close-dismiss::before {
  content: "Show help topic again later";
}

.hlx-sk-overlay .modal.help .help-close-acknowledge::before {
  content: "Don't show help topic again";
}

.hlx-sk-overlay .modal.help .help-close-opt-out::before {
  content: "Never show any help topics";
}

.hlx-sk-overlay .modal.help .help-previous::before {
  content: "Previous tip";
}

.hlx-sk-overlay .modal.help .help-current::before {
  content: "This tip";
}

.hlx-sk-overlay .modal.help .help-next::before {
  content: "Next tip";
}

.hlx-sk-overlay .modal.modal-login p:first-of-type::before {
  content: "Please sign in to Sidekick to continue...";
}

.hlx-sk .feature-container .user-login button::before,
.hlx-sk-overlay .modal.modal-login button::before {
  content: "Sign in";
}

.hlx-sk .feature-container .user-switch button::before,
.hlx-sk-overlay .modal.modal-user-switch button::before {
    content: "Switch user";
}

.hlx-sk .feature-container .user-logout button::before {
    content: "Sign out";
}

.hlx-sk .feature-container .user button.dropdown-toggle::before {
  content: "Anonymous";
}

.hlx-sk-overlay .modal.modal-wait::before {
  content: "Please wait...";
}

.hlx-sk-overlay .modal.modal-preview-onedrive::before {
  content: "Pro tip: Press Ctrl + S before previewing to see the latest changes immediately...";
}

.hlx-sk-overlay .modal.modal-preview-onedrive-mac::before {
  content: "Pro tip: Press ⌘ + S before previewing to see the latest changes immediately...";
}

.hlx-sk-overlay .modal.modal-reload-onedrive::before {
  content: "Pro tip: Press Ctrl + S in the editor before reloading a page...";
}

.hlx-sk-overlay .modal.modal-reload-onedrive-mac::before {
  content: "Pro tip: Press ⌘ + S in the editor before reloading a page...";
}

.hlx-sk-overlay .modal.modal-share-success::before {
  content: "Sharing URL copied to clipboard.";
}

.hlx-sk-overlay .modal.modal-config-success::before {
  content: "Configuration successfully activated.";
}

.hlx-sk-overlay .modal.modal-config-failure::before {
  content: "Failed to activate configuration: ";
}

.hlx-sk-overlay .modal.modal-preview-failure::before {
  content: "Previewing failed. Please try again later.";
}

.hlx-sk-overlay .modal.modal-preview-not-gdoc-generic::before {
  content: "Previewing failed. Must be Google document or spreadsheet.";
}

.hlx-sk-overlay .modal.modal-preview-not-gdoc-ms-word::before {
  content: "This is a Microsoft Word document. Please convert it to Google Docs: File > Save as Google Docs";
}

.hlx-sk-overlay .modal.modal-preview-not-gsheet-ms-excel::before {
  content: "This is a Microsoft Excel document. Please convert it to Google Sheets: File > Save as Google Sheets'";
}

.hlx-sk-overlay .modal.modal-reload-failure::before {
  content: "Reloading failed. Please try again later.";
}

.hlx-sk-overlay .modal.modal-publish-failure::before {
  content: "Publication failed. Please try again later.";
}

.hlx-sk-overlay .modal.modal-delete-failure::before {
  content: "Deletion failed. Please try again later.";
}

.hlx-sk-overlay .modal.modal-unpublish-failure::before {
  content: "Unpublication failed. Please try again later.";
}

.hlx-sk-overlay .modal.modal-status-404-document::before {
  content: "404 Not found: Check your Sidekick configuration and make sure Franklin has access to this document.";
}

.hlx-sk-overlay .modal.modal-status-404-content::before {
  content: "404 Not found: Check your Sidekick configuration or URL.";
}

.hlx-sk-overlay .modal.modal-status-500::before {
  content: "500 Internal server error: Failed to fetch the page status. Please try again later.";
}

.hlx-sk-overlay .modal.modal-status-502::before {
  content: "502 Bad gateway: Failed to fetch the page status. Please try again later.";
}

.hlx-sk-overlay .modal.modal-status-504::before {
  content: "504 Gateway timeout: Failed to fetch the page status. Please try again later.";
}

.hlx-sk-overlay .modal.modal-status-invalid::before {
  content: "Invalid server response. Check your Sidekick configuration or URL.";
}

.hlx-sk-overlay .modal.modal-login-timeout::before {
  content: "Sign in timed out. Please try again later.";
}

.hlx-sk-overlay .modal.modal-login-aborted::before {
  content: "Sign in aborted.";
}

.hlx-sk-overlay .modal.modal-logout-error::before {
  content: "Sign out failed. Please try again later.";
}

.hlx-sk .feature-container .info > button::before {
  content: "Information";
}

.hlx-sk .feature-container .info .page-info .edit-date::before {
  content: "Edited: ";
}

.hlx-sk .feature-container .info .page-info .preview-date::before {
  content: "Previewed: ";
}

.hlx-sk .feature-container .info .page-info .publish-date::before {
  content: "Published: ";
}

.hlx-sk .feature-container .info .page-info .now::before {
  content: "Now";
}

.hlx-sk .feature-container .info .page-info .seconds-ago::before {
  content: " seconds ago";
}

.hlx-sk .feature-container .info .page-info .minutes-ago::before {
  content: " minutes ago";
}

.hlx-sk .feature-container .info .page-info .today::before {
  content: "Today at ";
}

.hlx-sk .feature-container .info .page-info .yesterday::before {
  content: "Yesterday at ";
}

.hlx-sk .feature-container .info .page-info > div:empty::after {
  content: "Never";
}

.hlx-sk .bulk-copy-urls.single > button::before,
.hlx-sk-overlay .modal .hlx-sk-bulk-copy-url::before {
  content: "Copy URL";
}

.hlx-sk .bulk-copy-urls > button::before,
.hlx-sk-overlay .modal .hlx-sk-bulk-copy-urls::before {
  content: "Copy URLs";
}

.hlx-sk .bulk-copy-preview-urls button::before {
  content: "Copy Preview URLs";
}

.hlx-sk .single .bulk-copy-preview-urls button::before {
  content: "Copy Preview URL";
}

.hlx-sk .bulk-copy-live-urls button::before {
  content: "Copy Live URLs";
}

.hlx-sk .single .bulk-copy-live-urls button::before {
  content: "Copy Live URL";
}

.hlx-sk .bulk-copy-prod-urls button::before {
  content: "Copy Production URLs";
}

.hlx-sk .single .bulk-copy-prod-urls button::before {
  content: "Copy Production URL";
}

.hlx-sk-overlay .modal.bulk-copied-url::before {
  content: "URL copied to clipboard.";
}

.hlx-sk-overlay .modal.bulk-copied-urls::before {
  content: "URLs copied to clipboard.";
}

#hlx-sk-bulk-info:empty::before {
  content: "Select files below";
}

#hlx-sk-bulk-info.selected-item::before {
  content: "1 file selected";
}

#hlx-sk-bulk-info.selected-items::before {
  content: "$1 files selected";
  display: none;
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm:empty::before {
  content: "No file selected";
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm-preview-item::before {
  content: "Are you sure you want to preview 1 file?";
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm-preview-items::before {
  content: "Are you sure you want to preview $1 files?";
}

.hlx-sk .bulk-info .hlx-sk-bulk-progress-preview-items::before {
  content: "$1 of $2 files previewed...";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-item-success::before {
  content: "1 file successfully previewed.";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-items-success::before {
  content: "$1 files successfully previewed.";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-item-failure::before {
  content: "Failed to preview 1 file:";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-items-failure::before {
  content: "Failed to preview $1 files:";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-item-error-no-docx::before {
  content: "Microsoft Word document, convert to Google Docs first";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-item-error-no-xlsx::before {
  content: "Microsoft Excel document, convert to Google Sheets first";
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm-publish-item::before {
  content: "Are you sure you want to publish 1 file?";
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm-publish-items::before {
  content: "Are you sure you want to publish $1 files?";
}

.hlx-sk .bulk-info .hlx-sk-bulk-progress-publish-items::before {
  content: "$1 of $2 files published...";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-item-success::before {
  content: "1 file successfully published.";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-items-success::before {
  content: "$1 files successfully published.";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-item-failure::before {
  content: "Failed to publish 1 file:";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-items-failure::before {
  content: "Failed to publish $1 files:";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-item-error-no-source::before {
  content: "File must be previewed first";
}
