/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host,
:root {
  --hlx-sk-bg: #fff;
  --hlx-sk-logo-url: url(data:image/svg+xml;base64,PHN2ZyBpZD0iQWRvYmVFeHBlcmllbmNlQ2xvdWQiIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iLTUgLTUgMjUwIDI0NCIgd2lkdGg9IjI1MCIgaGVpZ2h0PSIyNDQiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cmVjdCBoZWlnaHQ9IjIzNCIgcng9IjQyLjUiIHdpZHRoPSIyNDAiIGZpbGw9IiNmYTBmMDAiLz4KICA8cGF0aCBkPSJNMTg2LjYxNyAxNzUuOTVoLTI4LjUwNmE2LjI0MyA2LjI0MyAwIDAgMS01Ljg0Ny0zLjc2OWwtMzAuOTQ3LTcyLjM1OWExLjM2NCAxLjM2NCAwIDAgMC0yLjYxMS0uMDM0TDk5LjQyIDE0NS43MzFhMS42MzUgMS42MzUgMCAwIDAgMS41MDYgMi4yNjloMjEuMmEzLjI3IDMuMjcgMCAwIDEgMy4wMSAxLjk5NGw5LjI4MSAyMC42NTVhMy44MTIgMy44MTIgMCAwIDEtMy41MDcgNS4zMDFINTMuNzM0YTMuNTE4IDMuNTE4IDAgMCAxLTMuMjEzLTQuOTA0bDQ5LjA5LTExNi45MDJBNi42MzkgNi42MzkgMCAwIDEgMTA1Ljg0MyA1MGgyOC4zMTRhNi42MjggNi42MjggMCAwIDEgNi4yMzIgNC4xNDRsNDkuNDMgMTE2LjkwMmEzLjUxNyAzLjUxNyAwIDAgMS0zLjIwMiA0LjkwNHoiIGRhdGEtbmFtZT0iMjU2IiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPg==);
  --hlx-sk-logo-size: 24px;
  --hlx-sk-logo-position: 10px 12px;
  --hlx-sk-color: #505050;
  --hlx-sk-accent: #1473e6;
  --hlx-sk-accent-hover: #0054b6;
  --hlx-sk-border: none;
  --hlx-sk-border-radius: 10px;
  --hlx-sk-font-family: arial, helvetica, sans-serif;
  --hlx-sk-font-size: 14px;
  --hlx-sk-line-height: 1;
  --hlx-sk-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.3);
  --hlx-sk-button-color: #707070;
  --hlx-sk-button-bg: transparent;
  --hlx-sk-button-border: solid 1px var(--hlx-sk-button-color);
  --hlx-sk-button-font-size: var(--hlx-sk-font-size);
  --hlx-sk-button-line-height: var(--hlx-sk-line-height);
  --hlx-sk-button-font-weight: 500;
  --hlx-sk-button-padding: 5px 8px;
  --hlx-sk-button-hover-bg: rgba(44, 44, 44, .04);
  --hlx-sk-button-hover-border: var(--hlx-sk-button-color);
  --hlx-sk-button-hover-color: var(--hlx-sk-button-color);
  --hlx-sk-button-focus-bg: rgba(44, 44, 44, .2);
  --hlx-sk-button-focus-border: var(--hlx-sk-button-hover-border);
  --hlx-sk-button-focus-color: var(--hlx-sk-button-hover-color);
  --hlx-sk-button-pressed-bg: rgba(44, 44, 44, .1);
  --hlx-sk-button-pressed-color: #404040;
  --hlx-sk-button-border-radius: 6px;
  --hlx-sk-button-disabled-color: #909090;
  --hlx-sk-button-disabled-border: solid 1px var(--hlx-sk-button-disabled-color);
  --hlx-sk-button-disabled-hover-bg: transparent;
  --hlx-sk-button-accent-bg: var(--hlx-sk-accent);
  --hlx-sk-button-accent-color: #fff;
  --hlx-sk-button-accent-hover-bg: var(--hlx-sk-accent-hover);
  --hlx-sk-button-accent-hover-color: var(--hlx-sk-button-accent-color);
  --hlx-sk-button-badge: #F15B3A;
  --hlx-sk-button-badge-hover: #FFC40E;
  --hlx-sk-label-font-size: 14px;
  --hlx-sk-dropdown-container-bg: rgba(250, 250, 250, .9);
  --hlx-sk-dropdown-container-bg-solid: rgb(250, 250, 250);
  --hlx-sk-modal-overlay-bg: rgba(0,0,0, 0.5);
  --hlx-sk-modal-bg-0: #e60016;
  --hlx-sk-modal-bg-1: #e67316;
  --hlx-sk-modal-color: white;
  --hlx-sk-modal-help-bg: var(--hlx-sk-accent);
  --hlx-sk-modal-help-color: white;
  --hlx-sk-modal-help-dropdown-container-bg: #1473e6be;
  --hlx-sk-modal-font-size: 1.25rem;
  --hlx-sk-special-view-button-color: rgba(0,0,0, 0.5);
  --hlx-sk-special-view-table-border: rgba(0,0,0, 0.5);
  --hlx-sk-palette-title-bg: rgba(0 0 0 / 10%);
  --hlx-sk-user-bg: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
  :host,
  :root {
    --hlx-sk-bg: rgb(48, 48, 48);
    --hlx-sk-color: #dedede;
    --hlx-sk-button-color: #dedede;
    --hlx-sk-button-hover-bg: rgba(211, 211, 211, .04);
    --hlx-sk-button-pressed-bg: rgba(211, 211, 211, .06);
    --hlx-sk-button-pressed-color: #C0C0C0;
    --hlx-sk-button-disabled-color: #707070;
    --hlx-sk-button-badge: #F15B3A;
    --hlx-sk-button-badge-hover: #C71F3D;
    --hlx-sk-dropdown-container-bg: rgba(48, 48, 48, .9);
    --hlx-sk-dropdown-container-bg-solid: rgb(48, 48, 48);
    --hlx-sk-modal-overlay-bg: rgba(127, 127, 127, 0.5);
    --hlx-sk-special-view-button-color: rgba(127, 127, 127, 0.8);
    --hlx-sk-special-view-table-border: rgba(127, 127, 127, 0.8);
    --hlx-sk-palette-title-bg: rgba(127 127 127 / 20%);
    --hlx-sk-user-bg: #909090;
  }
}

.hlx-sk {
  z-index: 9999999;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  background-color: var(--hlx-sk-bg);
  background-image: var(--hlx-sk-logo-url);
  background-position: var(--hlx-sk-logo-position);
  background-size: var(--hlx-sk-logo-size);
  background-repeat: no-repeat;
  color: var(--hlx-sk-color);
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 49px;
  box-sizing: border-box;
  padding: 10px 10px 10px 42px;
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  line-height: var(--hlx-sk-line-height);
  box-shadow: var(--hlx-sk-shadow);
}

.hlx-sk::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 240px;
  background-color: #f00;
  background-image: url('data:image/svg+xml;utf8,<svg id="AdobeExperienceCloud" data-name="Layer 1" viewBox="-5 -5 250 244" width="250" height="244" xmlns="http://www.w3.org/2000/svg"><rect height="234" rx="42.5" width="240" fill="#fa0f00"/><path d="M186.617 175.95h-28.506a6.243 6.243 0 0 1-5.847-3.769l-30.947-72.359a1.364 1.364 0 0 0-2.611-.034L99.42 145.731a1.635 1.635 0 0 0 1.506 2.269h21.2a3.27 3.27 0 0 1 3.01 1.994l9.281 20.655a3.812 3.812 0 0 1-3.507 5.301H53.734a3.518 3.518 0 0 1-3.213-4.904l49.09-116.902A6.639 6.639 0 0 1 105.843 50h28.314a6.628 6.628 0 0 1 6.232 4.144l49.43 116.902a3.517 3.517 0 0 1-3.202 4.904z" data-name="256" fill="#fff"/></svg>');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 240px;
  margin: 12px 14px 0 0;
}

.hlx-sk button,
.hlx-sk-overlay button {
  background-color: transparent;
  border: var(--hlx-sk-button-border);
  border-radius: var(--hlx-sk-button-border-radius);
  color: var(--hlx-sk-button-color);
  font-size: var(--hlx-sk-button-font-size);
  line-height: var(--hlx-sk-button-line-height);
  font-family: var(--hlx-sk-font-family);
  font-weight: var(--hlx-sk-button-font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: var(--hlx-sk-button-padding);
  cursor: pointer;
  outline: none;
  min-width: 28px;
  min-height: 28px;
  max-height: 28px;
  margin: 0 8px 0 0;
}

.hlx-sk button:hover,
.hlx-sk-overlay button:hover {
  background-color: var(--hlx-sk-button-hover-bg);
  border-color: var(--hlx-sk-button-hover-border);
  color: var(--hlx-sk-button-hover-color);
}

.hlx-sk button:focus,
.hlx-sk-overlay button:focus {
  background-color: var(--hlx-sk-button-focus-bg);
  border-color: var(--hlx-sk-button-focus-border);
  color: var(--hlx-sk-button-focus-color);
}

.hlx-sk button.pressed,
.hlx-sk-overlay button.pressed {
  background-color: var(--hlx-sk-button-pressed-bg);
  color: var(--hlx-sk-button-pressed-color);
}

.hlx-sk button:disabled,
.hlx-sk-overlay button:disabled {
  color: var(--hlx-sk-button-disabled-color);
  border: var(--hlx-sk-button-disabled-border);
}

.hlx-sk button:disabled:hover,
.hlx-sk-overlay button:disabled:hover {
  background-color: var(--hlx-sk-button-disabled-hover-bg);
}

.hlx-sk button.accent {
  background-color: var(--hlx-sk-button-accent-bg);
  border-color: var(--hlx-sk-button-accent-bg);
  color: var(--hlx-sk-button-accent-color);
}

.hlx-sk button.accent:hover {
  background-color: var(--hlx-sk-button-accent-hover-bg);
  border-color: var(--hlx-sk-button-accent-hover-bg);
  color: var(--hlx-sk-button-accent-hover-color);
}

.hlx-sk .update button {
  position: relative;
}

.hlx-sk .update button::after {
  content: " ";
  height: 5px;
  width: 5px;
  background-color: var(--hlx-sk-button-badge);
  border-radius: 50%;
  top: 2px;
  right: 2px;
  position: absolute;
}

.hlx-sk .update button:hover::after {
  background-color: var(--hlx-sk-button-badge-hover);
}

.hlx-sk .plugin-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 8px;
  opacity: 1;
}

.hlx-sk .plugin-container.hlx-sk-concealed {
  opacity: 0;
}

.hlx-sk .plugin-container.hlx-sk-login-only > *:not(.user-login) {
  display: none;
}

.hlx-sk .plugin-container.loading::before,
.hlx-sk .plugin-container:empty::before {
  line-height: 28px;
}

.hlx-sk .plugin-container .plugin-container-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hlx-sk .hlx-sk-label,
.hlx-sk .plugin > span {
  display: inline-block;
  margin: 7px 8px 0 0;
  font-size: var(--hlx-sk-label-font-size);
}

.hlx-sk .feature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}

.hlx-sk .feature-container button {
  border-color: transparent;
}

.hlx-sk .feature-container .info {
  line-height: normal;
}

.hlx-sk .feature-container .info > button::before {
    display: none;
}

.hlx-sk .feature-container .info .dropdown-container {
  right: 8px;
  background-color: var(--hlx-sk-dropdown-container-bg-solid);
}

.hlx-sk .feature-container .info .page-info {
  position: relative;
  font-size: 12px;
  margin: 10px;
}

.hlx-sk .feature-container .info .page-info > div {
  padding: 5px 0;
  white-space: nowrap;
}

.hlx-sk .feature-container .info .page-info > div > span {
  margin: 0;
  font-size: inherit;
}

.hlx-sk .feature-container .info .page-info > div > span:first-child {
  display: inline-block;
  font-weight: bold;
  min-width: 80px;
}

.hlx-sk .feature-container .user .dropdown-toggle {
  position: relative;
  border: none;
  padding: 0;
  margin-top: 0;
  overflow: hidden;
}

.hlx-sk .feature-container .user .dropdown-toggle::before {
  font-size: 0;
  line-height: 0;
}

.hlx-sk .feature-container .info .dropdown-toggle:disabled {
  opacity: 0.4;
}

.hlx-sk .feature-container .user .dropdown-toggle:disabled {
  opacity: 0.8;
}

.hlx-sk .feature-container .info .dropdown-toggle::after,
.hlx-sk .feature-container .user .dropdown-toggle::after {
  display: none;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-icon {
  background-color: var(--hlx-sk-user-bg);
  position: absolute;
  font-size: 4px;
  top: 0;
  height: 28px;
  width: 28px;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-icon::before {
  content: " ";
  display: block;
  height: 3em;
  width: 3em;
  background: currentColor;
  position: relative;
  left: 8px;
  top: 4px;
  border-radius: 2em;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-icon::after {
  content: " ";
  display: block;
  height: 2.45em;
  width: 5em;
  background: currentColor;
  position: relative;
  left: 4px;
  top: 6px;
  border-radius: 2em 2em 0 0;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-icon-hidden {
  height: 0;
  opacity: 0;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-picture {
  background-color: var(--hlx-sk-user-bg);
  width: 28px;
  height: 28px;
}

.hlx-sk .feature-container .user .dropdown-toggle .user-picture:hover,
.hlx-sk .feature-container .user .dropdown-toggle .user-picture:focus {
  transform: scale(1.2);
  transition: transform .3s ease;
}

.hlx-sk .feature-container .user .user-info {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--hlx-sk-bg);
  color: var(--hlx-sk-button-color);
  padding: 8px 0;
  cursor: text;
  user-select: text;
}

.hlx-sk .feature-container .user .user-info > div {
  padding: 2px 10px;
  white-space: nowrap;
  font-size: 14px;
}

.hlx-sk .feature-container .user .user-info .profile-name {
  font-weight: 600;
}

.hlx-sk .feature-container .share {
  padding-left: 5px;
}

.hlx-sk .feature-container .share::before {
  display: none;
}

.hlx-sk .feature-container .share i {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(0.8);
  width: 6px;
  height: 6px;
  background: currentColor;
  border-radius: 100px;
  box-shadow: 10px -6px 0, 10px 6px 0;
}

.hlx-sk .feature-container .share i::after,
.hlx-sk .feature-container .share i::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: 2px;
}

.hlx-sk .feature-container .share i::before {
  top: 0;
  transform: rotate(-35deg);
}

.hlx-sk .feature-container .share i::after {
  bottom: 0;
  transform: rotate(35deg);
}

.hlx-sk .feature-container .close,
.hlx-sk-palette .close {
  margin-right: 0;
  position: relative;
  display: block;
}

.hlx-sk .feature-container .close::after,
.hlx-sk .feature-container .close::before,
.hlx-sk-palette .close::after,
.hlx-sk-palette .close::before {
  content: "";
  font-size: 0;
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  top: 12px;
  left: 5px;
}

.hlx-sk .feature-container .close::after,
.hlx-sk-palette .close::after {
  transform: rotate(-45deg);
}

.hlx-sk .feature-container .info-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='18' viewBox='0 0 18 18' width='18'%3E%3Cdefs%3E%3Cstyle%3E .fill { fill: %23707070; } @media (prefers-color-scheme: dark) { .fill { fill: %23dedede; } } %3C/style%3E%3C/defs%3E%3Ctitle%3ES InfoOutline 18 N%3C/title%3E%3Crect id='Canvas' fill='%23fff' opacity='0' width='18' height='18' /%3E%3Cpath class='fill' d='M10.075,6A1.075,1.075,0,1,1,9,4.925H9A1.075,1.075,0,0,1,10.075,6Zm.09173,6H10V8.2A.20005.20005,0,0,0,9.8,8H7.83324S7.25,8.01612,7.25,8.5c0,.48365.58325.5.58325.5H8v3H7.83325s-.58325.01612-.58325.5c0,.48365.58325.5.58325.5h2.3335s.58325-.01635.58325-.5C10.75,12.01612,10.16673,12,10.16673,12ZM9,.5A8.5,8.5,0,1,0,17.5,9,8.5,8.5,0,0,0,9,.5ZM9,15.6748A6.67481,6.67481,0,1,1,15.67484,9,6.67481,6.67481,0,0,1,9,15.6748Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 3px 3px;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 28px;
  width: 28px;
  fill: var(--hlx-sk-button-color);
}

.hlx-sk .feature-container .modified-dates {
  display: flex;
  font-size: 12px;
}

.hlx-sk .feature-container .modified-dates > div {
  line-height: normal;
  margin: 0 10px;
  white-space: pre;
}

.hlx-sk .dropdown,
.hlx-sk-overlay .dropdown {
  min-height: 28px;
  max-height: 28px;
  position: relative;
}

.hlx-sk .dropdown-container,
.hlx-sk-overlay .dropdown-container {
  display: none;
  position: absolute;
  min-width: 120px;
  top: 30px;
  background-color: var(--hlx-sk-dropdown-container-bg);
  border-radius: var(--hlx-sk-button-border-radius);
  box-shadow: var(--hlx-sk-shadow);
  overflow: hidden;
}

.hlx-sk .dropdown button:hover,
.hlx-sk-overlay .dropdown button:hover {
  color: var(--hlx-sk-button-hover-color);
  background-color: var(--hlx-sk-button-hover-bg);
}

.hlx-sk .dropdown,
.hlx-sk-overlay .dropdown {
  display: block;
}

.hlx-sk-overlay .dropdown {
  max-height: unset;
}

.hlx-sk .dropdown .dropdown-toggle::after,
.hlx-sk-overlay .dropdown .dropdown-toggle::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: 7px;
  left: 1px;
  position: relative;
  top: 2px;
  transform: rotate(135deg);
  vertical-align: top;
  width: 7px;
  margin-left: 4px;
}

.hlx-sk .dropwdown .dropdown-toggle:focus {
  background-color: var(--hlx-sk-button-bg);
  color: var(--hlx-sk-button-color);
}

.hlx-sk .dropdown .dropdown-toggle:hover,
.hlx-sk-overlay .dropdown .dropdown-toggle:hover {
  background-color: var(--hlx-sk-button-hover-bg);
  color: var(--hlx-sk-button-hover-color);
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-toggle::after,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-toggle::after {
  top: 6px;
  transform: rotate(-45deg);
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container {
  display: flex;
  flex-direction: column;
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container button,
.hlx-sk .dropdown.dropdown-expanded .dropdown-container button.pressed,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container button,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container button.pressed {
  margin-top: 0;
  padding: 8px;
  border: none;
  border-radius: 0;
  width: 100%;
  text-align: left;
  max-height: unset;
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:first-of-type button,
.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:first-of-type button.pressed,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container > button:first-of-type,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container > button.pressed:first-of-type {
  border-top-left-radius: var(--hlx-sk-button-border-radius);
  border-top-right-radius: var(--hlx-sk-button-border-radius);
}

.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:last-of-type button,
.hlx-sk .dropdown.dropdown-expanded .dropdown-container > div:last-of-type button.pressed,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container > button:last-of-type,
.hlx-sk-overlay .dropdown.dropdown-expanded .dropdown-container > button.pressed:last-of-type {
  border-bottom-left-radius: var(--hlx-sk-button-border-radius);
  border-bottom-right-radius: var(--hlx-sk-button-border-radius);
}

.hlx-sk .env .dropdown-toggle {
  font-size: 14px;
  line-height: 1.2;
}

.hlx-sk-overlay {
  z-index: 9999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--hlx-sk-modal-overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hlx-sk-overlay .modal {
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-modal-font-size);
  border-radius: 32px;
  padding: 12px 32px;
  max-width: 60vw;
  background-color: var(--hlx-sk-bg);
  color: var(--hlx-sk-color);
  box-shadow: var(--hlx-sk-shadow);
}

.hlx-sk-overlay .modal p {
  font-size: var(--hlx-sk-modal-font-size);
  text-align: center;
}

.hlx-sk-overlay .modal a:any-link {
  color: currentColor;
  word-break: break-all;
}

.hlx-sk-overlay .level-0 {
  background-color: var(--hlx-sk-modal-bg-0);
  color: var(--hlx-sk-modal-color);
}

.hlx-sk-overlay .level-1 {
  background-color: var(--hlx-sk-modal-bg-1);
  color: var(--hlx-sk-modal-color);
}

.hlx-sk-overlay .level-0 button,
.hlx-sk-overlay .level-1 button {
  border-color: var(--hlx-sk-modal-color);
  color: var(--hlx-sk-modal-color);
}

.hlx-sk-overlay .level-0 button:hover {
  background-color: var(--hlx-sk-modal-color);
  color: var(--hlx-sk-modal-bg-0);
}

.hlx-sk-overlay .level-1 button:hover {
  background-color: var(--hlx-sk-modal-color);
  color: var(--hlx-sk-modal-bg-1);
}

.hlx-sk-overlay .modal.help {
  margin-top: 15px;
  position: absolute;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: var(--hlx-sk-modal-help-bg);
  color: var(--hlx-sk-modal-help-color);
  max-width: 60vw;
}

.hlx-sk-overlay .modal.help * {
  font-size: var(--hlx-sk-button-font-size);
}

.hlx-sk-overlay .modal.help:after {
	content: '';
	position: absolute;
  top: -10px;
  left: 40px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--hlx-sk-modal-help-bg);
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
  transform: rotate(180deg);
}


.hlx-sk-overlay .modal.help.bottom-center:after {
  display: none;
}

.hlx-sk-overlay .modal.help.bottom-right:after {
  left: unset;
  right: 40px;
}

.hlx-sk-overlay .modal.help p {
  margin: 4px 0;
}

.hlx-sk-overlay .modal.help p.help-controls {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hlx-sk-overlay .modal.help p.help-controls .help-steps {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: left;
}

.hlx-sk-overlay .modal.help p.help-controls .help-steps:empty {
  flex-grow: 0;
}

.hlx-sk-overlay .modal.help p.help-controls .help-actions {
  display: flex;
  justify-content: right;
}

.hlx-sk-overlay .modal.help button {
  background-color: var(--hlx-sk-modal-help-bg);
  border-color: var(--hlx-sk-modal-help-color);
  color: var(--hlx-sk-modal-help-color);
}

.hlx-sk-overlay .modal.help .dropdown-container {
  background-color: var(--hlx-sk-modal-help-dropdown-container-bg);
}

.hlx-sk-overlay .modal.help .dropdown-container button {
  background-color: transparent;
}

.hlx-sk-overlay .modal.help button:hover,
.hlx-sk-overlay .modal.help button:focus {
  background-color: var(--hlx-sk-modal-help-color);
  color: var(--hlx-sk-modal-help-bg);
}

.hlx-sk-overlay .modal.help .help-step {
  padding: 19px 12px 9px 12px;
  cursor: pointer;
}

.hlx-sk-overlay .modal.help .help-step .circle {
  border: 5px solid var(--hlx-sk-modal-help-color);
  border-radius: 50%;
  width: 0;
  height: 0;
  opacity: 0.45;
}

.hlx-sk-overlay .modal.help .help-step.help-current .circle {
  opacity: 1;
}

.hlx-sk-overlay .modal.help .help-step::before {
  display: none;
}

.hlx-sk-advanced-only {
  display: none;
}

.hlx-sk.hlx-sk-advanced .hlx-sk-advanced-only {
  display: initial;
}

.hlx-sk-hidden {
  display: none !important;
}

.hlx-sk-special-view {
  position: fixed;
  z-index: 9999997;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--hlx-sk-bg);
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  color: var(--hlx-sk-color);
  padding: 49px 0 0;
}

.hlx-sk-special-view .header {
  box-sizing: border-box;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
}

.hlx-sk-special-view .header button {
  background-color: transparent;
  border: none;
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  font-weight: var(--hlx-sk-button-font-weight);
  color: var(--hlx-sk-special-view-button-color);
  text-decoration: underline;
  cursor: pointer;
}

.hlx-sk-special-view .container {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: calc(100% - 81px);
  overflow: auto;
}


.hlx-sk-palette {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9999999;
  background-color: var(--hlx-sk-bg);
  color: var(--hlx-sk-color);
  box-sizing: border-box;
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  box-shadow: var(--hlx-sk-shadow);
  border-top-left-radius: var(--hlx-sk-button-border-radius);
  border-top-right-radius: var(--hlx-sk-button-border-radius);
  width: 200px;
  height: 500px;
  top: 200px;
  left: 20px;
}

.hlx-sk-palette .palette-title {
  position: relative;
  background-color: var(--hlx-sk-palette-title-bg);
  border-top-left-radius: var(--hlx-sk-button-border-radius);
  border-top-right-radius: var(--hlx-sk-button-border-radius);
  padding: 10px;
}

.hlx-sk-palette .palette-title .close {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
}

.hlx-sk-palette .palette-content {
  flex-grow: 1;
}

.hlx-sk-palette .palette-content iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.hlx-sk span.hlx-sk-placeholder {
  /* display: none; */
  background-color: orange;
}

@media(max-width:600px) {
  .hlx-sk {
    background-image: none;
    padding-left: 10px;
  }

  .hlx-sk .feature-container .share,
  .hlx-sk .feature-container .close {
    display: none;
  }

  .hlx-sk .env .dropdown-container {
    right: 8px;
  }
}

@media(max-width:450px) {
  .hlx-sk .env.dropdown .dropdown-toggle {
    font-size: 0;
  }

  .hlx-sk .env.dropdown .dropdown-toggle::after {
    position: absolute;
    top: 8px;
    left: 10px;
    margin-left: 0;
    margin-right: 4px;
  }

  .hlx-sk .env.dropdown .dropdown-toggle::after {
    transform: rotate(135deg) scale(1.4);
  }

  .hlx-sk .env.dropdown.dropdown-expanded .dropdown-toggle::after {
    top: 14px;
    transform: rotate(-45deg) scale(1.4);
  }

  .hlx-sk-overlay .modal.help {
    text-align: center;
  }

  .hlx-sk-overlay .modal.help p.help-controls,
  .hlx-sk-overlay .modal.help p.help-controls .help-steps,
  .hlx-sk-overlay .modal.help p.help-controls .help-actions {
      justify-content: center;
  }
}
