/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.hlx-sk .plugin-container:empty::before {
  content: "Keine Funktionen für diese Seite gefunden";
 }

.hlx-sk .plugin-container.loading::before {
  content: 'Funktionen werden geladen...';
}

.hlx-sk .share::before {
  content: "Sidekick teilen";
}

.hlx-sk .feature-container .close::before,
.hlx-sk-overlay .help-close button::before {
  content: "Schließen";
}

.hlx-sk-overlay div.modal.wait:empty::before {
  content: "Bitte warten..."
}

.hlx-sk .edit button::before {
  content: "Bearbeiten";
}

.hlx-sk .env button.dropdown-toggle::before {
  content: "Ansicht";
}

.hlx-sk .env.is-dev .dropdown-toggle::before,
.hlx-sk .env .dev button::before {
  content: "Entwicklung";
}

.hlx-sk .env.is-preview .dropdown-toggle::before,
.hlx-sk .env .preview button::before,
.hlx-sk .edit-preview button::before,
.hlx-sk .bulk-preview button::before {
  content: "Vorschau";
}

.hlx-sk .env.is-live .dropdown-toggle::before,
.hlx-sk .env .live button::before {
  content: "Live";
}

.hlx-sk .env.is-prod .dropdown-toggle::before,
.hlx-sk .env .prod button::before {
  content: "Produktion";
}

.hlx-sk .reload button::before {
  content: "Aktualisieren";
}

.hlx-sk .delete button::before {
  content: "Löschen";
}

.hlx-sk .publish button::before,
.hlx-sk .bulk-preview button::before {
  content: "Publizieren";
}

.hlx-sk .unpublish button::before {
  content: "Depublizieren";
}

.hlx-sk-special-view .description::before {
  content: "Benutzerfreundliche Datenanzeige."
}

.hlx-sk-special-view button.close::before {
  content: "Ausschalten"
}

.hlx-sk-special-view h2.helix-default::before {
  content: "Standardtabelle";
}

.hlx-sk-overlay .modal.help .help-acknowledge::before {
  content: "Alles klar!";
}

.hlx-sk-overlay .modal.help .help-close-dismiss::before {
  content: "Hilfethema später anzeigen";
}

.hlx-sk-overlay .modal.help .help-close-acknowledge::before {
  content: "Hilfethema nicht mehr anzeigen";
}

.hlx-sk-overlay .modal.help .help-close-opt-out::before {
  content: "Gar keine Hilfethemen anzeigen";
}

.hlx-sk-overlay .modal.help .help-previous::before {
  content: "Vorheriger Tipp";
}

.hlx-sk-overlay .modal.help .help-current::before {
  content: "Dieser Tipp";
}

.hlx-sk-overlay .modal.help .help-next::before {
  content: "Nächster Tipp";
}

.hlx-sk-overlay .modal.modal-login p:first-of-type::before {
  content: "Bitte melde dich beim Sidekick an um fortzufahren...";
}

.hlx-sk .feature-container .user-login button::before,
.hlx-sk-overlay .modal.modal-login button::before {
  content: "Anmelden";
}

.hlx-sk .feature-container .user-switch button::before,
.hlx-sk-overlay .modal.modal-user-switch button::before {
    content: "Benutzer wechseln";
}

.hlx-sk .feature-container .user-logout button::before {
    content: "Abmelden";
}

.hlx-sk .feature-container .user button.dropdown-toggle::before {
  content: "Anonymer Benutzer";
}

.hlx-sk-overlay .modal.modal-wait::before {
  content: "Bitte warten...";
}

.hlx-sk-overlay .modal.modal-preview-onedrive::before {
  content: "Expertenhinweis: Drücke vor der Vorschau Control + S, um immer die neusten Änderungen zu sehen...";
}

.hlx-sk-overlay .modal.modal-preview-onedrive-mac::before {
  content: "Expertenhinweis: Drücke vor der Vorschau Command + S, um immer die neusten Änderungen zu sehen...";
}

.hlx-sk-overlay .modal.modal-reload-onedrive::before {
  content: "Expertenhinweis: Drücke vor dem Aktualisieren einer Seite im Editor Ctrl + S...";
}

.hlx-sk-overlay .modal.modal-reload-onedrive-mac::before {
  content: "Expertenhinweis: Drücke vor dem Aktualisieren einer Seite im Editor ⌘ + S...";
}

.hlx-sk-overlay .modal.modal-share-success::before {
  content: "Teilen-URL in die Benutzerablage kopiert.";
}

.hlx-sk-overlay .modal.modal-config-success::before {
  content: "Konfiguration erfolgreich aktiviert.";
}

.hlx-sk-overlay .modal.modal-config-failure::before {
  content: "Aktivierung der Konfiguration fehlgeschlagen: ";
}

.hlx-sk-overlay .modal.modal-preview-failure::before {
  content: "Vorschau-Generierung fehlgeschlagen. Bitte versuche es später noch einmal.";
}

.hlx-sk-overlay .modal.modal-preview-not-gdoc-generic::before {
  content: "Vorschau-Generierung fehlgeschlagen. Muss ein Google-Dokument oder eine Tabelle sein.";
}

.hlx-sk-overlay .modal.modal-preview-not-gdoc-ms-doc::before {
  content: "Dies ist ein Microsoft Word-Dokument. Bitte in Google-Dokument umwandeln: Datei > Als Google-Dokument speichern";
}

.hlx-sk-overlay .modal.modal-preview-not-gsheet-ms-excel::before {
  content: "Dies ist ein Microsoft Excel-Dokument. Bitte in Google-Tabelle umwandeln: Datei > Als Google-Tabelle speichern";
}

.hlx-sk-overlay .modal.modal-reload-failure::before {
  content: "Aktualisierung fehlgeschlagen. Bitte versuche es später noch einmal.";
}

.hlx-sk-overlay .modal.modal-publish-failure::before {
  content: "Publizieren fehlgeschlagen. Bitte versuche es später noch einmal.";
}

.hlx-sk-overlay .modal.modal-delete-failure::before {
  content: "Löschen fehlgeschlagen. Bitte versuche es später noch einmal.";
}

.hlx-sk-overlay .modal.modal-unpublish-failure::before {
  content: "Depublizieren fehlgeschlagen. Bitte versuche es später noch einmal.";
}

.hlx-sk-overlay .modal.modal-status-404-document::before {
  content: "404 Nicht gefunden: Prüfe deine Sidekick-Konfiguration und stelle sicher, dass Franklin Zugriff auf dieses Dokument hat.";
}

.hlx-sk-overlay .modal.modal-status-404-content::before {
  content: "404 Nicht gefunden: Prüfe deine Sidekick-Konfiguration oder URL.";
}

.hlx-sk-overlay .modal.modal-status-500::before {
  content: "500 Interner Serverfehler: Statusabfrage fehlgeschlagen. Bitte versuche es später noch einmal.";
}

.hlx-sk-overlay .modal.modal-status-502::before {
  content: "502 Fehlerhaftes Gateway: Statusabfrage fehlgeschlagen. Bitte versuche es später noch einmal.";
}

.hlx-sk-overlay .modal.modal-status-504::before {
  content: "504 Gateway-Timeout: Statusabfrage fehlgeschlagen. Bitte versuche es später noch einmal.";
}

.hlx-sk-overlay .modal.modal-status-invalid::before {
  content: "Ungültige Serverantwort. Prüfe deine Sidekick-Konfiguration oder URL.";
}

.hlx-sk-overlay .modal.modal-login-timeout::before {
  content: "Zeitüberschreitung bei der Anmeldung. Bitte versuche es später noch einmal.";
}

.hlx-sk-overlay .modal.modal-login-aborted::before {
  content: "Anmeldungsvorgang abgebrochen.";
}

.hlx-sk-overlay .modal.modal-logout-error::before {
  content: "Abmeldung fehlgeschlagen. Bitte lade diesen Browser-Tab erneut oder versuche es später noch einmal.";
}

.hlx-sk .feature-container .info > button::before {
  content: "Information";
}

.hlx-sk .feature-container .info .page-info .edit-date::before {
  content: "Bearbeitet: ";
}

.hlx-sk .feature-container .info .page-info .preview-date::before {
  content: "Vorschau: ";
}

.hlx-sk .feature-container .info .page-info .publish-date::before {
  content: "Publiziert: ";
}

.hlx-sk .feature-container .info .page-info .now::before {
  content: "Jetzt";
}

.hlx-sk .feature-container .info .page-info .seconds-ago::before {
  content: " Sekunden zuvor";
}

.hlx-sk .feature-container .info .page-info .minutes-ago::before {
  content: " Minuten zuvor";
}

.hlx-sk .feature-container .info .page-info .today::before {
  content: "Heute um ";
}

.hlx-sk .feature-container .info .page-info .yesterday::before {
  content: "Gestern um ";
}

.hlx-sk .feature-container .info .page-info > div:empty::after {
  content: "Nie";
}

.hlx-sk .bulk-copy-urls.single > button::before,
.hlx-sk-overlay .modal .hlx-sk-bulk-copy-url::before {
  content: "URL kopieren";
}

.hlx-sk .bulk-copy-urls > button::before,
.hlx-sk-overlay .modal .hlx-sk-bulk-copy-urls::before {
  content: "URLs kopieren";
}

.hlx-sk .bulk-copy-preview-urls button::before {
  content: "Vorschau-URLs kopieren";
}

.hlx-sk .single .bulk-copy-preview-urls button::before {
  content: "Vorschau-URL kopieren";
}

.hlx-sk .bulk-copy-live-urls button::before {
  content: "Live-URLs kopieren";
}

.hlx-sk .single .bulk-copy-live-urls button::before {
  content: "Live-URL kopieren";
}

.hlx-sk .bulk-copy-prod-urls button::before {
  content: "Produktions-URLs kopieren";
}

.hlx-sk .single .bulk-copy-prod-urls button::before {
  content: "Produktions-URL kopieren";
}

.hlx-sk-overlay .modal.bulk-copied-url::before {
  content: "URL in die Zwischenablage kopiert.";
}

.hlx-sk-overlay .modal.bulk-copied-urls::before {
  content: "URLs in die Zwischenablage kopiert.";
}

#hlx-sk-bulk-info:empty::before {
  content: "Dateien unten auswählen";
}

#hlx-sk-bulk-info.selected-item::before {
  content: "1 Datei ausgewählt";
}

#hlx-sk-bulk-info.selected-items::before {
  content: "$1 Dateien ausgewählt";
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm:empty::before {
  content: "Keine Datei ausgewählt";
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm-preview-item::before {
  content: "Möchtest du wirklich die Vorschau für 1 Datei generieren?";
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm-preview-items::before {
  content: "Möchtest du wirklich die Vorschau für $1 Dateien generieren?";
}

.hlx-sk .bulk-info .hlx-sk-bulk-progress-preview-items::before {
  content: "Vorschau für $1 von $2 Dateien generiert...";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-item-success::before {
  content: "Vorschau für 1 Datei erfolgreich generiert.";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-items-success::before {
  content: "Vorschau für $1 Dateien erfolgreich generiert.";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-item-failure::before {
  content: "Vorschau-Generierung für 1 Datei fehlgeschlagen:";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-items-failure::before {
  content: "Vorschau-Generierung für $1 Dateien fehlgeschlagen:";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-item-error-no-docx::before {
  content: "Microsoft Word-Dokument, zuerst in Google Docs umwandeln";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-preview-item-error-no-xlsx::before {
  content: "Microsoft Excel-Dokument, zuerst in Google Sheets umwandeln";
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm-publish-item::before {
  content: "Möchtest du wirklich 1 Datei publizieren?";
}

.hlx-sk .bulk-info .hlx-sk-bulk-confirm-publish-items::before {
  content: "Möchtest du wirklich $1 Dateien publizieren?";
}

.hlx-sk .bulk-info .hlx-sk-bulk-progress-publish-items::before {
  content: "$1 von $2 Dateien publiziert...";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-item-success::before {
  content: "1 Datei erfolgreich publiziert.";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-items-success::before {
  content: "$1 Dateien erfolgreich publiziert.";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-item-failure::before {
  content: "Publizieren von 1 Datei fehlgeschlagen:";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-items-failure::before {
  content: "Publizieren von $1 Dateien fehlgeschlagen:";
}

.hlx-sk .bulk-info .hlx-sk-bulk-result-publish-item-error-no-source::before {
  content: "Für diese Datei muss zuerst Vorschau generiert werden";
}
