/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.hlx-sk .plugin-container.empty::before {
  content: "Aucune action disponible pour cette page";
}

.hlx-sk .plugin-container.loading::before {
  content: 'Chargement...';
}

.hlx-sk .share::before {
  content: "Partager le Sidekick";
}

.hlx-sk .close::before {
  content: "Fermer";
}

.hlx-sk-overlay div.modal.wait:empty::before {
  content: "Veuillez patienter..."
}

.hlx-sk .edit button::before {
  content: "Edition";
}

.hlx-sk .env button.dropdown-toggle::before {
  content: "Voir";
}

.hlx-sk .env.preview .dropdown-toggle::before,
.hlx-sk .env .preview button::before,
.hlx-sk .edit-preview button::before {
  content: "Aperçu";
}

.hlx-sk .env.live .dropdown-toggle::before,
.hlx-sk .env .live button::before {
  content: "Live";
}

.hlx-sk .env.prod .dropdown-toggle::before,
.hlx-sk .env .prod button::before {
  content: "Production";
}

.hlx-sk .reload button::before {
  content: "Actualiser";
}

.hlx-sk .delete button::before {
  content: "Effacer";
}

.hlx-sk .publish button::before {
  content: "Publier";
}

.hlx-sk .unpublish button::before {
  content: "Dépublier";
}

.hlx-sk-special-view .description::before {
  content: "Aperçu des données."
}

.hlx-sk-special-view button.close::before {
  content: "Arrêter"
}

.hlx-sk-special-view h2.helix-default::before {
  content: "Feuille par défaut";
}

.hlx-sk-overlay .modal.help .help-acknowledge::before {
  content: "J'ai compris!";
}

.hlx-sk-overlay .modal.help .help-close-dismiss::before {
  content: "Revoir l'aide plus tard";
}

.hlx-sk-overlay .modal.help .help-close-acknowledge::before {
  content: "Ne plus voir ce sujet";
}

.hlx-sk-overlay .modal.help .help-close-opt-out::before {
  content: "Ne plus voir l'aide";
}

.hlx-sk-overlay .modal.help .help-previous::before {
  content: "Astuce précédente";
}

.hlx-sk-overlay .modal.help .help-current::before {
  content: "Astuce";
}

.hlx-sk-overlay .modal.help .help-next::before {
  content: "Astuce suivante";
}
