.card-list > ul {
    list-style: none;
    margin: 0;
    padding: 24px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
  }
  
  .card-list > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
  }

  .card-list > ul > li > a {
    text-decoration: none;
    display: block;
  }
  
  .card-list .cards-card-body {
    font-size: var(--body-font-size-s);
  }
  
  .card-list .cards-card-image {
    line-height: 0;
  }
  
  .card-list.cards-card-body > *:first-child {
    margin-top: 0;
  }
  
  .card-list > ul > li img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: var(--image-border-radius-l);
  }

  .card-list .cards-card-body h3 {
    font-size: var(--type-heading-m-size);
    line-height: var(--type-heading-m-lh);
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-xs);
  }

@media screen and (min-width: 768px) {
  .card-list .cards-card-body h3 {
    font-size: var(--type-heading-l-size);
    line-height: var(--type-heading-l-lh);
    margin-top: var(--spacing-m);
  }
}

@media screen and (min-width: 900px) {
  .card-list > ul {
    grid-gap: var(--spacing-s);
  }
}