@import url('colors.css');
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

:root {
  /* colors */
  --light-green: #adf4ce;
  --medium-green: #49cc93;
  --dark-green: #00653e;
  --light-orange: #ffdfad;
  --medium-orange: #ffa037;
  --dark-orange: #cb5d00;
  --light-red: #ffddd6;
  --medium-red: #ff7c65;
  --dark-red: #b40000;
  --light-blue: #cae8ff;
  --medium-blue: #78bbfa;
  --dark-blue: #147af3;
  --light-fuchsia: #ffdafa;
  --medium-fuchsia: #f592f3;
  --dark-fuchsia: #9d039e;
  --light-purple: #edf;
  --medium-purple: #cca4fd;
  --dark-purple: #7326d3;
  --light-indigo: #d3d5ff;
  --medium-indigo: #acafff;
  --dark-indigo: #4046ca;
}

body {
  max-width: 1200px;
  margin: auto;
  margin-top: 32px;
}

main {
  margin: 16px;
  margin-top: var(--nav-height);
}

/* general performance */

main li.score-good {
  opacity: 1;
  color: var(--dark-green);
  background-color: var(--light-green);
}

main li.score-ni {
  opacity: 1;
  color: var(--dark-orange);
  background-color: var(--light-orange);
}

main li.score-poor {
  opacity: 1;
  color: var(--dark-red);
  background-color: var(--light-red);
}

/* heading */
main .title select {
  border: 1px solid currentcolor;
  border-radius: 16px;
  background-color: var(--dark-blue);
  padding: 2px 8px;
  text-align: end;
  font-size: 18px;
  display: inline-block;
  height: 30px;
  color: white;
}

main .title incognito-checkbox {
  display: none;
  margin-top: 10px;
}

main .title incognito-checkbox[mode="open"],
main .title incognito-checkbox[mode="incognito"] {
  display: inline-block;
}

main .title {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .title h1 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: var(--type-heading-m-size);
  display: flex;
  align-items: center;
}

main .title h1 img {
  height: 16px;
  margin-right: 8px;
}

.title button {
  color: var(--dark-blue);
  border: 2px solid currentcolor;
  border-radius: 32px;
  font-size: 24px;
  background-color: white;
  padding: 4px 16px;
}


/* key metrics */
main .key-metrics ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 8px;
  padding-left: 0;
}

main .key-metrics li h2 {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: normal;
}

main .key-metrics li h2::before {
  content: ' ';
  background-color: currentcolor;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  display: inline-block;
  border-radius: 8px;
}

main .key-metrics li p {
  font-weight: 600;
  font-size: 20px;
  margin: 8px 0;
}

.key-metrics li {
  border: 1px solid currentcolor;
  border-radius: 8px;
  background-color: #eee;
  padding: 4px 8px;
}

.key-metrics li[aria-selected="true"] {
  background-color: #444;
  color: white;
}

.key-metrics [aria-hidden="true"] {
  display: none;
}

/* figure */

figure {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
}



figure .chart-container {
  position: relative;
  min-height: 100px;
  display: grid;
  justify-content: center;
  height: calc(100vh - 400px);
}

figure .chart-container.sankey {
  height: calc(100vh - 300px);
}

#low-data-warning {
  color: red;
  display: inline-flex;
  align-items: center;
  align-self: end;
}

#timezone::before {
  content: 'Timezone: ';
}

.danger-icon {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(1);
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px;
  margin-right: 5px;
}

.danger-icon::after,
.danger-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentcolor;
  left: 7px;
}

.danger-icon::after {
  top: 2px;
  height: 8px;
}

.danger-icon::before {
  height: 2px;
  bottom: 2px;
}

figcaption {
  font-size: var(--type-body-xs-size);
  margin-top: 8px;
  text-align: right;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}

figcaption > span {
  display: inline-flex;
  align-items: center;
}

#low-data-warning[aria-hidden=true] {
  display: none;
}

.filter-tags {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 60%;
  font-size: var(--type-body-xs-size);
}

.filter-tags > span {
  color: var(--dark-indigo);
  border: 1px solid currentcolor;
  border-radius: 1em;
  background-color: var(--light-indigo);
  padding: 0 1em;
  text-align: end;
  opacity: 0.6;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  white-space: nowrap;
  display: inline-block;
  word-break: break-all;
}

.filter-tags > span.filter-tag-user_agent {
  color: var(--dark-fuchsia);
  background-color: var(--light-fuchsia);
}

.filter-tags > span.filter-tag-url {
  color: var(--dark-purple);
  background-color: var(--light-purple);
}

.filter-tags > span.filter-tag-lcp, 
.filter-tags > span.filter-tag-cls, 
.filter-tags > span.filter-tag-inp,
.filter-tags > span.filter-tag-conversions,
.filter-tags > span.filter-tag-visits {
  opacity: 1;
}


/* filters */

.quick-filter {
  padding: 12px 0 8px;
  display: flex;
}

.quick-filter input {
  font-size: 20px;
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 12px;
  background-color: #eee;
  border-bottom: 2px solid #ccc;
}

fieldset {
  --background-color: var(--light-indigo);

  padding: 8px 0 0;
  color: var(--dark-indigo);
  background-color: var(--background-color);
  border: 2px solid currentcolor;
  border-radius: 8px;
  margin-top: 16px;
}

fieldset a:any-link {
  color: currentcolor;
}

fieldset.facet-user_agent {
  color: var(--dark-fuchsia);

  --background-color: var(--light-fuchsia);
}

fieldset.facet-url {
  color: var(--dark-purple);

  --background-color: var(--light-purple);
}

legend {
  display: flex;
  margin-left: 20px;
  padding: 8px;
  background-color: var(--background-color);
}

fieldset > div {
  padding: 0 4px;
  font-size: var(--type-body-s-size);
}

fieldset > div:hover {
  background-color: #eee;
}

fieldset li {
  border: 1px solid currentcolor;
  border-radius: 8px;
  background-color: #eee;
  padding: 2px 6px;
  text-align: end;
  opacity: 0.2;
  font-size: 12px;
}

fieldset li[class$="-"] {
  opacity: 0.2;
}

fieldset li.interesting {
  border-width: 2px;
}

fieldset li.significant {
  border-width: 3px;
}

fieldset li::after {
  content: ' ';
  background-color: currentcolor;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  display: inline-block;
  border-radius: 14px;
}

#facets ul.cwv {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 4px;
  padding-left: 0;
  margin: 4px 2px;
}

#facets fieldset div {
  display: grid;
  grid-template-areas: 'check lab' ' - cwv';
  grid-template-columns: 20px 1fr;
  align-items: center;
  grid-gap: 0 16px;
}


#facets fieldset input[type=checkbox] {
  grid-area: check;
  height: 20px;
  width: 20px;
}

#facets fieldset label {
  grid-area: lab;
  word-break: break-all;
}

#facets fieldset ul.cwv {
  grid-area: cwv;
}

#facets div[aria-selected=true] {
  background-color: var(--light-blue)
}

#facets div[aria-selected]:hover {
  background-color: #eee;
}

#facets img {
  height: 60px;
}

#facets fieldset div.load-more {
  grid-column: 2 / span 2;  
  display: block;
  padding: 10px 0;
}

#facets fieldset div.load-more label {
  cursor: pointer;
  padding-right: 50px;
}

.clipboard, a.drilldown, a.drillup {
  margin-left: 8px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(1);
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 2px;
}

.clipboard::after,
.clipboard::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 2px;
  width: 10px;
  left: 2px;
}

.clipboard::before {
  border: 2px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  top: -2px;
  height: 6px;
}

.clipboard::after {
  height: 2px;
  background: currentcolor;
  box-shadow: 0 -4px 0 0;
  bottom: 2px;
}

/* make a little down arrow from ::before and ::after */
a.drilldown::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 6px;
  border: 2px solid;
  border-width: 0 2px 0 0;
  top: 1px;
  left: 6px;
}

/* and the downward facing triangle */
a.drilldown::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: currentcolor;
  top: 6px;
  left: 2px;
}

/* make a little upward pointing arrow from ::before and ::after for drillup */
a.drillup::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 6px;
  border: 2px solid;
  border-width: 0 2px 0 0;
  top: 6px;
  left: 6px;
}

/* and the upward facing triangle */
a.drillup::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: currentcolor;
  top: -4px;
  left: 1px;
}

/* toasts */

.toast {
  z-index: var(--nav-z-index);
  position: fixed;
  display: block;
  width: fit-content;
  padding: 8px 32px;
  border-radius: 16px;
  max-width: 80%;
  background-color: #444;
  color: white;
  opacity: 1;
  top: 32px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s linear;
  margin-top: 0;
}

.toast[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  margin-top: -20px;
}

@media (min-width: 600px) {
  main .title h1 {
    font-size: var(--type-heading-l-size);
  }

  main .title select {
    border-radius: 24px;
    padding: 2px 8px;
    font-size: 20px;
    height: 32px;
  }

}

@media (min-width: 900px) {
  main .title h1 {
    font-size: var(--type-heading-xl-size);
  }

  main .title select {
    border-radius: 24px;
    padding: 4px 16px;
    font-size: 24px;
    height: 40px;
  }

  main .title h1 img {
    height: 32px;
  }

  main .key-metrics li h2 {
    font-size: 14px;
  }
  
  main .key-metrics li h2::before {
    width: 14px;
    height: 14px;
    border-radius: 14px;
  }
  
  main .key-metrics li p {
    font-size: 30px;
    margin: 16px 0;
  }
  
  main .key-metrics ul {
    grid-gap: 16px;
  }

  main .key-metrics li {
    border-radius: 16px;
    padding: 8px 16px;
  }

  #facets fieldset div {
    grid-template-areas: 'check lab cwv';
    grid-template-columns: 20px 1fr 350px;
  }

  #facets ul.cwv {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 8px;
    margin: 8px 4px;
  }

  fieldset li {
    border-radius: 16px;
    padding: 4px 16px;
    font-size: 18px;
  }  
  
}


/* split mode */

@media (min-width: 1600px) {
  main {
    display: flex;
    gap: 16px;
    height: calc(100vh - var(--nav-height) - 32px);
  }

  main .key-metrics ul {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }  

  main > div {
    width: 100%;
  }

  main #facets {
    height: calc(100% - 70px);
    overflow-y: scroll;
  }

  body.appear {
    max-width: 2400px;
    display: block;
    padding-top: 0;
  }
}

@media (min-width: 2000px) {
  main .key-metrics ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }  
}

footer.footer-wrapper.appear {
  display: none;
}