

@media (min-width: 900px) {
    .section > div {
          max-width: 1200px;
          margin: auto;
    }
    }

main .faq .faq-accordion .faq-question {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--type-body-m-size);
    transition: 0.4s;
    border-radius: 1000px;
}

main .faq .faq-accordion .faq-question:hover,main .faq.faq-accordion .faq-question.active {
  background-color:#136ff6;
  color:#eee;
}

main .faq .faq-accordion .faq-answer {
  padding: 0 18px;
  margin: 8px 20px;
  display: none;
  background-color: white;
  overflow: hidden;
  border-left:solid 1px #ccc;
  font-size: var(--type-body-s-size);
}

main .faq .faq-accordion .faq-answer.active {
  display:block;
}

main .faq .faq-accordion > div {
    padding-bottom: 25px;
  }

