body.docs-template {
    visibility: visible;
    opacity: 1;
    background-color: rgb(250,250,250);
    color: rgb(74, 74, 74);
    padding-top: 128px;
}

main {
    max-width: 83.4%;
    margin: 0 auto;
}

ol {
    padding-left: 16px;
}

@media screen and (min-width: 900px) {
    body.docs-template {
        background-image: url(/img/bg-docs-1080.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% -128px;
    }

    main {
        max-width: 600px;
    }
}