@import url('colors.css');
@import url('shared.css');
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */


.post-container {
  flex: 1 0 100%;
}

.post {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.post .post-image-wrapper {
  width: 100%;
  height: 250px;
  border-radius: 4px 4px 0 0;
  background-color: #e8e8e8;
  line-height: 0;
}

.post .post-image {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  line-height: 0;
  object-fit: cover;
}

.post .post-body {
  padding: 2rem;
  border-radius: 0 0 4px 4px;
  background-color: white;
  color: #444;
  font-size: 18px;
  line-height: 27px;
}

.post .post-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-decoration: none;
  cursor: pointer;
}

.post .post-info, .post .post-tags {
  margin-bottom: 0.5rem;
  color: #686868;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 27px;
  text-transform: uppercase;
}

.post .post-tags {
  padding-left: 0;
}

.post .post-tags li {
  display: inline-block;
  margin-right: 0.5rem;
}

.post .post-info span + span::before {
  content: '·';
  margin: 0 1ch;
}

@media (width >= 800px) {
  .post-container {
    flex: 0 1 auto;
  }

  .post {
    max-width: 378px;
  }
}

.summary-container {
  flex: 1 0 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

@media (width >= 1100px) {
  .summary-container {
    flex: 1 0 33%;
  }
}

.chart-container {
  width: 100%;
  padding: 2rem;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  background-color: white;
  color: #2c2c2c;
}

@media (width >= 1100px) {
  .chart-container {
    flex: 1 0 50%;
  }
}

.chart-container figure {
  margin: 0;
}

.chart-container figure figcaption {
  padding: 16px 0;
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: center;
}

.chart-container .canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

.depth-container {
  flex: 1 0 20%;
  gap: 1rem;
}

.depth-container img {
  max-height: 50px;
}

.depth-container .table tr td {
  vertical-align: middle;
}

.depth-container .table tr td:first-of-type {
  margin: 0;
  width: 30%;
}

.summary {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 2rem;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  background-color: white;
  color: #2c2c2c;
}

.summary .summary-value {
  font-size: 200%;
  line-height: 80%;
  text-align: center;
  transition: transform 0.3s;
}

.summary:hover .summary-value {
  transform: scale(1.15);
}

.summary-container .summary:nth-child(6n + 1) .summary-value {
  color: var(--spectrum-cyan-900);
}

.summary-container .summary:nth-child(6n + 2) .summary-value {
  color: var(--spectrum-indigo-900);
}

.summary-container .summary:nth-child(6n + 3) .summary-value {
  color: var(--spectrum-orange-700);
}

.summary-container .summary:nth-child(6n + 4) .summary-value {
  color: var(--spectrum-magenta-900);
}

.summary-container .summary:nth-child(6n + 5) .summary-value {
  color: var(--spectrum-purple-700);
}

.summary-container .summary:nth-child(6n) .summary-value {
  color: var(--spectrum-chartreuse-700);
}

.summary .summary-label {
  margin: 0;
  color: #686868;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
}

.summary .summary-label span {
  display: block;
  margin-top: 0.5rem;
  font-size: 80%;
  line-height: 1.3;
}

@media (width >= 1100px) {
  .summary-container {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
  }
}

.table-container {
  flex: 1 1 540px;
}

.table {
  width: 100%;
  height: 100%;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  padding: 2rem;
  background-color: white;
  overflow-y: hidden;
}

.table [data-before]::before {
  content: attr(data-before);
  padding-right: 0.5ch;
}

.table [data-after]::after {
  content: attr(data-after);
  padding-left: 0.5ch;
}

.table .media-container {
  position: relative;
  height: 250px;
  cursor: zoom-in;
}

.table .media-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: linear-gradient(45deg,#e8e8e8 25%, transparent 25%), 
    linear-gradient(135deg, #e8e8e8 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #e8e8e8 75%), 
    linear-gradient(135deg, transparent 75%, #e8e8e8 75%);
  background-size: 16px 16px;
  background-position: 0 0, 8px 0, 8px -8px, 0 8px;
  transition: height 6s;
}

.table .media-wrapper.zoom {
  top: 50%;
  transform: translateY(-50%);
  height: max-content;
  box-shadow: 0 0 20px #000c;
  outline: 10px solid white;
  cursor: zoom-out;
  z-index: 2;
}

.table .media-wrapper img,
.table .media-wrapper video,
.table .media-wrapper iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: height 6s;
}

.table .media-wrapper.unsupported {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.table .media-wrapper.unsupported p {
  padding: 8px;
  color: var(--spectrum-red-900);
  font-size: 150%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.table table {
  width: 100%;
}

.table table caption {
  padding: 16px 0;
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.table table tr {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e8e8e8;
}

.table table tr th {
  flex: 0 1 max-content;
  min-width: unset;
}

.table table tr th:not(:last-of-type) {
  padding-right: 0;
}

.table table caption,
.table table tr th {
  color: #2c2c2c;
}

.table table tr th,
.table table tr td {
  border: none;
  padding: 8px;
  vertical-align: middle;
}

.table table tr td {
  flex: 1 0 100%;
  min-width: unset;
  color: #444 !important;
}

.table table thead tr,
.table table tfoot tr {
  background-color: #f4f4f4;
}

.table table thead tr {
  border-bottom: none;
}

.table table tbody tr,
.table table tfoot tr {
  border-top: none;
}

.table table tbody tr.entry-match {
  background-color: var(--spectrum-blue-100) !important;
}

.table table tbody tr:hover {
  background-color: #f4f4f4;
}

.table table thead tr th,
.table table tfoot tr td {
  text-transform: initial !important;
}

.table table tbody tr td {
  position: relative;
}

.table table tbody tr td a {
  color: #444;
}

.table table tbody tr td .bar {
  position: absolute;
  inset: 0;
  width: 0;
  background-color: var(--spectrum-blue-300);
  transition: width 0.3s;
}

.table table tr td .bar + span {
  position: relative;
  z-index: 1;
}

@media (width >= 600px) {
  .table [data-before]::before {
    content: none;
  }
  
  .table [data-after]::after {
    content: none;
  }

  .table .media-container {
    height: 5rem;
  }

  .table table tr {
    display: table-row;
  }

  .table table tbody tr:hover {
    background-color: inherit;
  }

  .table table tbody tr {
    border: none !important;
  }

  .table table tr th:not(:last-of-type) {
    padding-right: 8px;
  }

  .table table tbody tr td {
    border: 1px solid #e8e8e8;
  }

  .table table tbody tr td:hover {
    background-color: #f4f4f4;
  }

  .table table thead tr th:first-child {
    width: 70%;
  }

  .table table thead tr th:last-child {
    width: 30%;
  }

  .table#page-read-depth table thead tr th:first-child {
    width: 50%;
  }

  .table#page-read-depth table thead tr th:last-child {
    width: 50%;
  }

  .table table tbody tr td:last-child,
  .table table tfoot tr td:last-child {
    text-align: right;
  }
  
  /* stylelint-disable value-no-vendor-prefix */
  .table table tbody tr td a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
