footer {
  display: none;
  padding: 2rem;
  font-size: var(--type-body-xs-size);
}

footer.appear {
  display: block;
}

/* original design styles */
footer .footer {
  max-width: 768px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: currentcolor;
}

/* new design styles */
.redesign footer {
  padding: 0;
}

footer .new-footer {
  max-width: var(--grid-mobile-container-width);
  margin: auto;
}

.footer .footer-bottom {
  text-align: left;
  border-top: 1px solid var(--color-font-grey);
  padding: var(--spacing-xs) 0 var(--spacing-s);
}

.footer .footer-bottom p {
  font-size: var(--type-body-xxxs-size);
  line-height: var(--type-body-xxxs-lh);
  margin-bottom: var(--spacing-xxs);
}

.footer .footer-bottom a {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  footer .new-footer {
    max-width: var(--grid-tablet-container-width);
    margin: auto;
  }

  .footer .footer-bottom p {
    display: inline-block;
  }
}

@media screen and (min-width: 900px) {
  footer .new-footer {
    max-width: var(--grid-desktop-container-width);
  }

  .footer .footer-bottom {
    text-align: right;
  }  

  .footer .footer-bottom p {
    font-size: var(--type-body-xxs-size);
    line-height: var(--type-body-xxs-lh);
    margin-bottom: 0;
  }
}