
.progress-container {
  width: 100%;
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
}

.progress-bar {
  height: 8px;
  background: var(--highlight-background-color, #ff8000);
  width: 0%;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--highlight-background-color, #ff8000);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

#back-to-top:hover,
#back-to-top:focus {
  opacity: 1;
}
