@font-face {
    font-family: 'Trebuchet MS';
    size-adjust: 95%;
    src: local('Trebuchet MS'),
         local('TrebuchetMS');
         font-weight: 700;
}

@font-face {
    font-family: 'Trebuchet MS';
    size-adjust: 87%;
    src: local('Trebuchet MS'),
         local('TrebuchetMS');
         font-weight: 400;
}

:root {
    /* Typography */
    --type-detail-all-weight: 700;
    --type-detail-m-size: 12px;
    --type-detail-m-lh: 15px;
    --type-detail-m-transform: uppercase;
    --type-heading-all-weight: 700;
    --type-heading-xxl-size: 44px;
    --type-heading-xxl-lh: 55px;
    --type-heading-xl-size: 2.25em;
    --type-heading-xl-lh: 45px;
    --type-heading-l-size: 28px;
    --type-heading-l-lh: 35px;
    --type-heading-m-size: 24px;
    --type-heading-m-lh: 30px;
    --type-body-l-size: 24px;
    --type-body-l-lh: 27px;
    --type-body-m-size: 20px;
    --type-body-m-lh: 1.6875;
    --type-body-s-size: 14px;
    --type-body-s-lh: 1.3875;

    /* Spacing */
    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 48px;
    --spacing-xl: 56px;
    --spacing-xxl: 80px;

    /* Colors */
    --spectrum-blue: rgb(20, 115, 230);
    --highlight-gradient: linear-gradient(75deg, #DB3278, #EE732F);

    /* Grid */
    --grid-mobile-container-width: 83.4%;
    --grid-desktop-container-width: 1200px;
}

body {
    font-family: 'Adobe Clean', 'adobe-clean', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding-top: 65px;
    font-size: var(--type-body-m-size);
    line-height: var(--type-body-m-lh);
}

/* Templates */
body.docs-template {
    background-color: rgb(250,250,250);
    color: rgb(74, 74, 74);
    padding-top: 128px;
}

body.docs-template main {
    max-width: 83.4%;
    margin: 0 auto;
}

body.docs-template ol {
    padding-left: 16px;
}
/* End Templates */

[class$="-"],
[data-block-select] {
    opacity: 0;
}

[data-block-select][data-block-loaded] {
    opacity: 1;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: #FFF;
    z-index: 2;
}

header .header {
    width: 100%;
}

img {
    max-width: 100%;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    font-weight: 900;
}

/* Heading XXL */
h1 u {
    font-size: 60px;
    line-height: 1.3;
    text-decoration: none;
}

/* Heading XL */
h1 {
    font-size: 45px;
    line-height: 1.3;
    margin-bottom: 20px;
}

/* Heading L */
h2 {
    font-size: 38px;
    line-height: 1.3;
    font-weight: normal;
}

/* Heading M */
h3 {
    font-size: var(--type-heading-m-size);
    line-height: var(--type-heading-m-lh);
}

/* Themes */
.dark {
    color: white;
}

/* Utilities */
.hidden {
    display: none;
}

em a {
  color: black;
  border: 2px solid;
  background-color: transparent;
  border-radius: 16px;
  display: inline-block;
  line-height: 28px;
  padding: 0 14px;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  cursor: pointer;
}

/* Primary button over background */

.dark em a {
    color: #FFF;
}

strong a {
    background: rgb(20, 115, 230);
    color: white;
    border-radius: 16px;
    font-size: 14px;
    line-height: 32px;
    padding: 0 16px;
    border: none;
    flex: 0 1 auto;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

pre {
    overflow-x: scroll;
    background-color: #eee;
    padding: 2rem;
}

/* Icon on button */

em a img,
strong a img {
  position: relative;
  height: 24px;
  left: -6px;
  margin-top: 4px;
  float: left;
}

/* buttons */

a.button:any-link {
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 1.2em 6px 1.2em;
    text-align: center;
    font-size: var(--body-font-size-s);
    font-style: normal; 
    font-weight: 600;
    line-height: var(--body-line-height);
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
  
  a.button.xlarge:any-link {
    padding: 13px 1.5em 13px 1.5em;
    border-radius: 27px;
    font-size: var(--body-font-size-m);
  }
  
  a.button.large:any-link {
    padding: 10px 1.5em 10px 1.5em;
    border-radius: 22px;
  }
  
  a.button.small:any-link {
    padding: 4px 1em 4px 1em;
    border-radius: 15px;
    font-size: var(--body-font-size-xs);
  }
  
  a.button:any-link,
  a.button.accent:any-link, 
  a.button.primaryCTA:any-link {
    color: var(--color-white);
    background-color: var(--color-info-accent);
    border-color: var(--color-info-accent);
  }
  
  a.button:any-link:hover,
  a.button.accent:any-link:hover,
  a.button.primaryCTA:any-link:hover {
    background-color: var(--color-info-accent-hover);
    border-color: var(--color-info-accent-hover);
  }
  
  a.button:any-link:active,
  a.button.accent:any-link:active,
  a.button.primaryCTA:any-link:active {
    background-color: var(--color-info-accent-down);
    border-color: var(--color-info-accent-down);
  }
  
  a.button:focus,
  a.button.accent:focus, 
  a.button.primaryCTA:focus {
    background-color: var(--color-info-accent-hover);
    border-color: var(--color-info-accent-hover);
    color: var(--color-white);
    outline: none;
    box-shadow:
      0 0 0 2px var(--color-white),
      0 0 0 4px var(--color-info-accent-hover);
  }
  
  a.button.primary:any-link {
    color: var(--color-white);
    background-color: var(--color-info-primary);
    border-color: var(--color-info-primary);
  }
  
  a.button.primary:any-link:hover {
    background-color: var(--color-info-primary-hover);
    border-color: var(--color-info-primary-hover);
  }
  
  a.button.primary:any-link:active {
    background-color: var(--color-info-primary-down);
    border-color: var(--color-info-primary-down);
  }
  
  a.button.primary:focus,
  a.button.primary.reverse:focus {
    background-color: var(--color-info-primary-hover);
    border-color: var(--color-info-primary-hover);
    color: var(--color-white);
  }
  
  a.button.secondary:any-link {
    color: var(--color-black);
    background-color: var(--color-info-secondary);
    border-color: var(--color-info-secondary);
  }
  
  a.button.secondary:any-link:hover {
    background-color: var(--color-info-secondary-hover);
    border-color: var(--color-info-secondary-hover);
  }
  
  a.button.secondary:any-link:active {
    background-color: var(--color-info-secondary-down);
    border-color: var(--color-info-secondary-down);
  }
  
  a.button.secondary:focus {
    background-color: var(--color-gray-500);
    border-color: var(--color-gray-500);
    color: var(--color-white);
  }
  
  a.button.reverse:any-link {
    color: var(--color-black);
    background-color: var(--color-white);
  }
  
  a.button.reverse:any-link:hover {
    background-color: var(--color-info-secondary-hover)
  }
  
  a.button.reverse:any-link:active {
    background-color: var(--color-info-secondary-down)
  }
  
  a.button.reverse:focus,
  a.button.reverse.accent:any-link:focus,
  a.button.reverse.primaryCTA:any-link:focus {
    background-color: var(--color-info-accent-hover);
    border-color: var(--color-info-accent-hover);
    color: var(--color-white);
  }
  
  a.button.reverse.accent:any-link,
  a.button.reverse.primaryCTA:any-link {
    color: var(--color-info-accent)
  }
  
  a.button.reverse.accent:any-link:hover,
  a.button.reverse.primaryCTA:any-link:hover {
    background-color: var(--color-info-accent-reverse);
  }
  
  a.button.reverse.accent:any-link:active,
  a.button.reverse.primaryCTA:any-link:active {
    background-color: var(--color-info-accent-reverse-down);
  }
  
  a.button.dark:any-link {
    color: var(--color-black);
    background-color: var(--color-white);
    border-color: var(--color-white);
  }
  
  a.button.dark:any-link:hover {
    color: var(--color-black);
    background-color: var(--color-gray-100);
    border-color: var(--color-gray-100);
  }
  
  a.button.dark:any-link:active {
    color: var(--color-black);
    background-color: var(--color-gray-200);
    border-color: var(--color-gray-200);
  }
  
  a.button.dark:any-link:focus {
    box-shadow:
      0 0 0 2px var(--color-info-accent),
      0 0 0 4px var(--color-white);
  }
  
  a.button.dark.reverse:any-link {
    color: var(--color-white);
    background-color: transparent;
    border-color: var(--color-white);
  }
  
  a.button.dark.reverse:any-link:hover {
    color: var(--color-white);
    background-color: rgba(0,0,0,0.1);
    border-color: var(--color-gray-100);
  }
  
  a.button.dark.reverse:any-link:active {
    color: var(--color-white);
    background-color: rgba(0,0,0,0.2);
    border-color: var(--color-gray-200);
  }
  
  a.button.dark.reverse:any-link:focus {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-info-accent-hover);
  }
  
  a.button > svg {
    float: left;
    display: inline;
    width: 20px;
    height: 20px;
    margin: 8px 8px 8px 0;
    fill: currentColor;
    color: currentColor;
  }
  
  a.button > svg > use {
    fill: currentColor;
    color: currentColor;
  }
  
p.button-container > a.button {
    margin-left: 0;
}

main p em strong, main p strong em {
  background-color: #FE833F;
  padding: 0px 10px;
  display: inline-block;
}

main table,
main table th,
main table tr,
main table td {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

main table th {
  border-bottom: 1px solid currentColor;
}

main table td {
  vertical-align: top;
}

main table p,
main table pre {
  margin: 0;
  padding: 0.5em;
  background-color: transparent;
}

/* section styling */

main .section {
    padding: 4rem 0;
    text-align: center;
}

.default-content-wrapper, .quote-wrapper {
    max-width: 900px;
    margin: auto;
}



main .section ul {
    text-align: left;
}

main .section:empty {
    display: none;
}

.docs-template main .section {
    text-align: left;
}


.block {
    text-align: left;
}

main .section.highlight {
    background: var(--highlight-gradient);
    color: white;
}

main .section.dark {
    background: #444;
    color: white;
}

main .section.light {
    background: #eee;
}

/* Above the fold */

main .section[data-section-status='loading'], main .section[data-section-status='initialized'] {
    display: none;
}

body.no-header-template {
    padding: 0;
}
.no-header-template header {
    display: none;
}

@media screen and (min-width: 900px) {
    body.docs-template {
        background-image: url(/img/bg-docs-1080.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% -128px;
    }

    body.docs-template main {
        max-width: 600px;
    }
}


