.sidekick-generator form {
  display: flex;
  flex-wrap: wrap;
}

.sidekick-generator form label {
  width: 100%;
  font-weight: 700;
}

.sidekick-generator a.back-link::before {
  content: "< Back to ";
  padding-right: 8px;
  display: inline-block;
}

.sidekick-generator input[type="text"],
.sidekick-generator input[type="password"] {
  display: block;
  width: 100%;
  line-height: 30px;
  border: 1px solid;
  border-color: rgb(202 202 202);
  border-radius: 4px;
  padding: 0 8px;
  font-size: 14px;
  font-family: adobe-clean, sans-serif;
  outline: none !important;
  appearance: none;
  box-sizing: border-box;
  transition: border-color 130ms ease-in-out, box-shadow 130ms ease-in-out;
  flex: 1 1 0%;
}

.sidekick-generator input[type="checkbox"] {
  border: 1px solid;
  border-color: rgb(202 202 202);
  border-radius: 4px;
  transition: border-color 130ms ease-in-out, box-shadow 130ms ease-in-out;
}

.sidekick-generator input[type="text"]::placeholder {
  font-weight: 400;
  color: #8e8e8e;
  transition: color 130ms ease-in-out;
}

.sidekick-generator input[type="text"]:focus::placeholder,
.sidekick-generator input[type="text"]:hover::placeholder {
  color: #2c2c2c;
}

.sidekick-generator input[type="text"]:focus,
.sidekick-generator input[type="password"]:focus {
  border-color: rgb(42 124 223);
}

.sidekick-generator button {
  line-height: 32px;
  background: rgb(20 115 230);
  color: white;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 16px;
  border: none;
  font-family: adobe-clean, "Trebuchet MS", sans-serif;
  flex: 0 1 auto;
}

.sidekick-generator p > .icon svg {
  box-sizing: border-box;
  height: 24px;
  margin-bottom: -5px;
  margin-right: 4px;
}
