name: Run tests and linting
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js 20
      uses: actions/setup-node@v5
      with:
        node-version: 22

    - name: Install XVFB
      run: sudo apt-get install xvfb

    - name: Install dependencies
      run: npm install

    - name: Run the tests
      run: xvfb-run -a npm test

    - name: run the linters
      run: npm run lint
